# Debug Runt Transform
template for testing/debugging runt transforms

In [195]:
import sys
import os
from os import sep
from os.path import dirname, realpath
from pathlib import Path
import logging
logging.basicConfig(stream=sys.stdout, level=logging.DEBUG)

def get_cwd(fname, subdir, crunch_dir=realpath(Path.home()) +sep +'crunch' +sep):
    """
    Convenience function to make a directory string for the current file based on inputs.
    Jupyter Notebook in Anaconda invokes the Python interpreter in Anaconda's subdirectory
    which is why changing sys.argv[0] is necessary. In the future a better way to do this
    should be preferred..
    """
    return crunch_dir +subdir +fname
    
def fix_path(cwd):
    """
    Convenience function to fix argv and python path so that jupyter notebook can run the same as
    any script in crunch.
    """
    sys.argv[0] = cwd
    module_path = os.path.abspath(os.path.join('..'))
    if module_path not in sys.path:
        sys.path.append(module_path)

fix_path(get_cwd('runt_debug_template.ipynb', 'mutate' +sep))

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from numba import jit, vectorize
from dask import delayed, dataframe as dd

from ipywidgets import interact, interactive, fixed
from IPython.display import display

pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 50)

from common_util import MUTATE_DIR, DT_HOURLY_FREQ, DT_CAL_DAILY_FREQ, reindex_on_time_mask, df_rows_in_year
from common_util import load_json, dump_json, remove_dups_list, list_get_dict, is_empty_df, search_df, benchmark
from data.data_api import DataAPI
from mutate.common import TRANSFORMS_DIR, get_graphs, get_transforms
from mutate.runt import process_transform

## General

### Init DataAPI, Set Logging Level, and Load Transforms

In [3]:
DataAPI.__init__()
logging.basicConfig(stream=sys.stdout, level=logging.DEBUG)
transforms = get_transforms()

## Transform Debug

### Set Transform
Fill it in (default is ddiff)

In [32]:
trf_name = 'hohlca'
step = transforms[trf_name]
display(step)

{'meta': {'rec_fmt': 'hohlca',
  'var_fmt': 'list',
  'res_freq': 'H',
  'info': 'hourly open, high, low, close, and average aggregation'},
 'fn': {'ser_fn': ['sr', 'sr', 'sr', 'sr', 'stat'],
  'df_fn': 'guax',
  'col_fn': 'ohlca',
  'freq': 'H'},
 'axe': {'rm': ['hrm', 'hrm'],
  'src': ['root', 'root_split_ohlca'],
  'dst': ['hohlca', 'hohlca']},
 'var': [{'val': [True], 'flt': [0]},
  {'val': [True], 'flt': ['h']},
  {'val': [True], 'flt': ['l']},
  {'val': [True], 'flt': [-1]},
  {'stat_type': ['avg']}]}

In [33]:
display(step)

{'meta': {'rec_fmt': 'hohlca',
  'var_fmt': 'list',
  'res_freq': 'H',
  'info': 'hourly open, high, low, close, and average aggregation'},
 'fn': {'ser_fn': ['sr', 'sr', 'sr', 'sr', 'stat'],
  'df_fn': 'guax',
  'col_fn': 'ohlca',
  'freq': 'H'},
 'axe': {'rm': ['hrm', 'hrm'],
  'src': ['root', 'root_split_ohlca'],
  'dst': ['hohlca', 'hohlca']},
 'var': [{'val': [True], 'flt': [0]},
  {'val': [True], 'flt': ['h']},
  {'val': [True], 'flt': ['l']},
  {'val': [True], 'flt': [-1]},
  {'stat_type': ['avg']}]}

In [128]:
hrm_rcs, hrm_dfs = DataAPI.axe_load(step['axe']['rm'])
src_rcs, src_dfs = DataAPI.axe_load(step['axe']['src'])

In [199]:
for datatype in ['pba', 'vol']:
    for asset_name in ['sp_500', 'russell_2000', 'nasdaq_100', 'dow_jones']:
        print(datatype, asset_name)
        src = df_rows_in_year(src_dfs[[asset_name, 'root', 'root_split_ohlca', 'join', datatype]].dropna())
        hrm = df_rows_in_year(hrm_dfs[[asset_name, 'hrm', 'hrm', datatype, datatype]])
        #local = reindex_on_time_mask(src, hrm)
        daysize = src.groupby(pd.Grouper(freq='D')).size()
        incdays = daysize[daysize<8]
        halfdays = incdays[incdays>0]
        display(len(halfdays))
        display(halfdays)

pba sp_500

18

id
2009-11-27 00:00:00+00:00    6
2009-12-24 00:00:00+00:00    5
2010-11-26 00:00:00+00:00    5
2011-11-25 00:00:00+00:00    5
2012-07-03 00:00:00+00:00    5
2012-11-23 00:00:00+00:00    5
2012-12-24 00:00:00+00:00    5
2013-07-03 00:00:00+00:00    5
2013-11-29 00:00:00+00:00    5
2013-12-24 00:00:00+00:00    5
2014-07-03 00:00:00+00:00    5
2014-11-28 00:00:00+00:00    5
2014-12-24 00:00:00+00:00    5
2015-11-27 00:00:00+00:00    5
2015-12-24 00:00:00+00:00    5
2016-11-25 00:00:00+00:00    5
2017-07-03 00:00:00+00:00    5
2017-11-24 00:00:00+00:00    5
dtype: int64

pba russell_2000

24

id
2009-11-27 00:00:00+00:00    5
2009-12-24 00:00:00+00:00    5
2010-11-26 00:00:00+00:00    5
2011-11-08 00:00:00+00:00    6
2011-11-25 00:00:00+00:00    5
2012-07-03 00:00:00+00:00    5
2012-10-09 00:00:00+00:00    7
2012-11-01 00:00:00+00:00    5
2012-11-23 00:00:00+00:00    5
2012-12-24 00:00:00+00:00    5
2013-07-03 00:00:00+00:00    5
2013-11-29 00:00:00+00:00    5
2013-12-24 00:00:00+00:00    5
2014-07-03 00:00:00+00:00    4
2014-11-28 00:00:00+00:00    5
2014-12-24 00:00:00+00:00    5
2015-08-03 00:00:00+00:00    7
2015-09-02 00:00:00+00:00    7
2015-11-27 00:00:00+00:00    5
2015-12-24 00:00:00+00:00    5
2016-11-25 00:00:00+00:00    5
2017-04-21 00:00:00+00:00    7
2017-07-03 00:00:00+00:00    5
2017-11-24 00:00:00+00:00    5
dtype: int64

pba nasdaq_100

142

id
2009-01-02 00:00:00+00:00    7
2009-01-05 00:00:00+00:00    7
2009-01-06 00:00:00+00:00    7
2009-01-07 00:00:00+00:00    7
2009-01-08 00:00:00+00:00    7
                            ..
2015-11-27 00:00:00+00:00    5
2015-12-24 00:00:00+00:00    5
2016-11-25 00:00:00+00:00    5
2017-07-03 00:00:00+00:00    5
2017-11-24 00:00:00+00:00    5
Length: 142, dtype: int64

pba dow_jones

19

id
2009-11-27 00:00:00+00:00    5
2009-12-24 00:00:00+00:00    5
2010-04-24 00:00:00+00:00    2
2010-11-26 00:00:00+00:00    5
2011-11-25 00:00:00+00:00    5
2012-07-03 00:00:00+00:00    5
2012-11-23 00:00:00+00:00    5
2012-12-24 00:00:00+00:00    5
2013-07-03 00:00:00+00:00    5
2013-11-29 00:00:00+00:00    5
2013-12-24 00:00:00+00:00    5
2014-07-03 00:00:00+00:00    5
2014-11-28 00:00:00+00:00    5
2014-12-24 00:00:00+00:00    5
2015-11-27 00:00:00+00:00    5
2015-12-24 00:00:00+00:00    5
2016-11-25 00:00:00+00:00    5
2017-07-03 00:00:00+00:00    5
2017-11-24 00:00:00+00:00    5
dtype: int64

vol sp_500

16

id
2009-11-27 00:00:00+00:00    6
2009-12-24 00:00:00+00:00    5
2010-11-26 00:00:00+00:00    5
2011-11-25 00:00:00+00:00    5
2012-07-03 00:00:00+00:00    6
2012-11-23 00:00:00+00:00    5
2012-12-24 00:00:00+00:00    5
2013-04-25 00:00:00+00:00    7
2013-07-03 00:00:00+00:00    5
2013-11-29 00:00:00+00:00    5
2013-12-24 00:00:00+00:00    5
2014-07-03 00:00:00+00:00    5
2014-11-28 00:00:00+00:00    5
2014-12-24 00:00:00+00:00    5
2015-11-27 00:00:00+00:00    5
2015-12-24 00:00:00+00:00    5
dtype: int64

vol russell_2000

21

id
2009-11-27 00:00:00+00:00    6
2009-12-24 00:00:00+00:00    5
2010-11-26 00:00:00+00:00    5
2011-11-25 00:00:00+00:00    5
2012-07-03 00:00:00+00:00    5
2012-11-23 00:00:00+00:00    5
2012-12-24 00:00:00+00:00    5
2013-04-25 00:00:00+00:00    6
2013-07-03 00:00:00+00:00    5
2013-10-14 00:00:00+00:00    7
2013-11-29 00:00:00+00:00    5
2013-12-24 00:00:00+00:00    5
2014-07-03 00:00:00+00:00    5
2014-11-28 00:00:00+00:00    5
2014-12-24 00:00:00+00:00    5
2015-11-27 00:00:00+00:00    5
2015-12-24 00:00:00+00:00    5
2016-11-25 00:00:00+00:00    5
2017-01-25 00:00:00+00:00    7
2017-07-03 00:00:00+00:00    5
2017-11-24 00:00:00+00:00    5
dtype: int64

vol nasdaq_100

23

id
2009-11-27 00:00:00+00:00    6
2009-12-24 00:00:00+00:00    5
2010-09-24 00:00:00+00:00    7
2010-11-26 00:00:00+00:00    5
2011-11-25 00:00:00+00:00    5
2012-07-03 00:00:00+00:00    5
2012-11-23 00:00:00+00:00    5
2012-12-24 00:00:00+00:00    5
2013-04-25 00:00:00+00:00    6
2013-07-03 00:00:00+00:00    5
2013-11-29 00:00:00+00:00    5
2013-12-24 00:00:00+00:00    5
2014-07-03 00:00:00+00:00    5
2014-11-19 00:00:00+00:00    7
2014-11-28 00:00:00+00:00    5
2014-12-24 00:00:00+00:00    5
2015-11-27 00:00:00+00:00    5
2015-12-24 00:00:00+00:00    5
2016-11-25 00:00:00+00:00    5
2017-01-25 00:00:00+00:00    7
2017-06-29 00:00:00+00:00    6
2017-07-03 00:00:00+00:00    5
2017-11-24 00:00:00+00:00    5
dtype: int64

vol dow_jones

68

id
2009-11-27 00:00:00+00:00    6
2009-12-24 00:00:00+00:00    5
2010-11-26 00:00:00+00:00    5
2011-03-09 00:00:00+00:00    7
2011-11-25 00:00:00+00:00    5
2012-02-06 00:00:00+00:00    7
2012-07-03 00:00:00+00:00    5
2012-11-23 00:00:00+00:00    5
2012-12-24 00:00:00+00:00    5
2013-04-25 00:00:00+00:00    7
2013-07-03 00:00:00+00:00    5
2013-11-29 00:00:00+00:00    5
2013-12-24 00:00:00+00:00    5
2014-07-03 00:00:00+00:00    5
2014-11-28 00:00:00+00:00    5
2014-12-24 00:00:00+00:00    5
2015-11-27 00:00:00+00:00    5
2015-12-24 00:00:00+00:00    5
2016-03-11 00:00:00+00:00    1
2016-04-04 00:00:00+00:00    5
2016-04-05 00:00:00+00:00    6
2016-04-06 00:00:00+00:00    5
2016-04-08 00:00:00+00:00    7
2016-05-10 00:00:00+00:00    1
2016-05-11 00:00:00+00:00    4
2016-05-13 00:00:00+00:00    5
2016-06-02 00:00:00+00:00    7
2016-06-06 00:00:00+00:00    1
2016-06-07 00:00:00+00:00    1
2016-06-08 00:00:00+00:00    1
2016-06-09 00:00:00+00:00    1
2016-06-10 00:00:00+00:00    1
2016-06-29 00:00:00+00:00    7
2016-06-30 00:00:00+00:00    7
2016-07-01 00:00:00+00:00    1
2016-07-06 00:00:00+00:00    3
2016-07-07 00:00:00+00:00    7
2016-07-08 00:00:00+00:00    1
2016-08-04 00:00:00+00:00    7
2016-08-05 00:00:00+00:00    1
2016-08-08 00:00:00+00:00    2
2016-08-09 00:00:00+00:00    1
2016-08-10 00:00:00+00:00    1
2016-08-29 00:00:00+00:00    2
2016-09-06 00:00:00+00:00    1
2016-09-07 00:00:00+00:00    1
2016-09-08 00:00:00+00:00    1
2016-10-10 00:00:00+00:00    2
2016-10-12 00:00:00+00:00    3
2016-10-13 00:00:00+00:00    7
2016-10-14 00:00:00+00:00    3
2016-11-09 00:00:00+00:00    7
2016-11-11 00:00:00+00:00    2
2016-11-25 00:00:00+00:00    5
2016-12-06 00:00:00+00:00    6
2016-12-07 00:00:00+00:00    2
2017-01-10 00:00:00+00:00    6
2017-01-13 00:00:00+00:00    2
2017-02-03 00:00:00+00:00    6
2017-02-06 00:00:00+00:00    6
2017-02-07 00:00:00+00:00    1
2017-02-08 00:00:00+00:00    2
2017-02-10 00:00:00+00:00    2
2017-04-10 00:00:00+00:00    5
2017-04-11 00:00:00+00:00    6
2017-04-13 00:00:00+00:00    5
2017-07-03 00:00:00+00:00    5
2017-11-24 00:00:00+00:00    5
dtype: int64

In [169]:
for day in days:
    dayl = ('{} 00:00'.format(day), '{} 23:00'.format(day))
    display(dayl)
    display(src.dropna().loc[dayl[0]:dayl[1]])
    #display(runt_dfs[asset_keys[-1]].loc[dayl[0]:dayl[1]])

('2009-06-01 00:00', '2009-06-01 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2009-06-01 13:00:00+00:00,923.26,938.22,923.26,936.37,933.7776
2009-06-01 14:00:00+00:00,936.75,942.69,936.75,942.13,941.0939
2009-06-01 15:00:00+00:00,942.22,944.14,941.60,943.72,942.4451
2009-06-01 16:00:00+00:00,943.74,945.53,942.82,942.91,944.0086
2009-06-01 17:00:00+00:00,942.77,947.15,942.16,946.89,943.6656
2009-06-01 18:00:00+00:00,947.01,947.77,943.08,944.15,945.2102
2009-06-01 19:00:00+00:00,944.05,946.87,940.03,943.99,943.5008
2009-06-01 20:00:00+00:00,943.91,943.91,942.86,942.87,942.8939

('2010-04-24 00:00', '2010-04-24 23:00')

Empty DataFrame
Columns: [pba_open, pba_high, pba_low, pba_close, pba_avgPrice]
Index: []

('2011-01-28 00:00', '2011-01-28 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2011-01-28 14:00:00+00:00,1299.63,1302.67,1298.99,1298.99,1300.5726
2011-01-28 15:00:00+00:00,1298.95,1298.95,1288.38,1288.75,1293.1334
2011-01-28 16:00:00+00:00,1288.11,1289.51,1280.19,1280.76,1285.8029
2011-01-28 17:00:00+00:00,1280.78,1282.84,1276.55,1281.77,1280.8125
2011-01-28 18:00:00+00:00,1281.95,1281.95,1276.22,1281.29,1278.5050
2011-01-28 19:00:00+00:00,1281.13,1281.77,1278.30,1279.88,1280.1754
2011-01-28 20:00:00+00:00,1279.96,1280.47,1275.10,1276.38,1277.3732
2011-01-28 21:00:00+00:00,1276.38,1276.38,1276.34,1276.34,1276.3435

('2011-11-08 00:00', '2011-11-08 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2011-11-08 14:00:00+00:00,1261.12,1270.29,1261.12,1270.29,1266.7221
2011-11-08 15:00:00+00:00,1270.79,1271.17,1259.83,1262.00,1264.5631
2011-11-08 16:00:00+00:00,1262.17,1263.31,1254.99,1258.33,1258.0599
2011-11-08 17:00:00+00:00,1258.16,1261.84,1256.82,1259.94,1260.3433
2011-11-08 18:00:00+00:00,1259.93,1270.35,1257.83,1269.15,1262.5373
2011-11-08 19:00:00+00:00,1268.85,1273.21,1266.60,1272.87,1270.2472
2011-11-08 20:00:00+00:00,1272.51,1277.55,1269.77,1275.56,1274.1381
2011-11-08 21:00:00+00:00,1275.97,1275.97,1275.91,1275.92,1275.9230

('2012-10-09 00:00', '2012-10-09 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2012-10-09 13:00:00+00:00,1455.90,1455.90,1452.47,1452.77,1453.8155
2012-10-09 14:00:00+00:00,1452.60,1455.22,1445.04,1446.02,1452.1165
2012-10-09 15:00:00+00:00,1446.05,1446.08,1442.23,1443.73,1444.2932
2012-10-09 16:00:00+00:00,1443.74,1446.39,1442.97,1443.30,1444.3447
2012-10-09 17:00:00+00:00,1443.31,1446.75,1443.12,1445.05,1445.1452
2012-10-09 18:00:00+00:00,1445.02,1446.90,1443.78,1446.54,1445.5894
2012-10-09 19:00:00+00:00,1446.62,1447.19,1441.18,1441.64,1443.5894
2012-10-09 20:00:00+00:00,1441.56,1441.56,1441.48,1441.48,1441.4829

('2012-11-01 00:00', '2012-11-01 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2012-11-01 13:00:00+00:00,1412.20,1421.21,1412.20,1420.41,1418.0720
2012-11-01 14:00:00+00:00,1420.70,1427.90,1420.70,1426.52,1425.2427
2012-11-01 15:00:00+00:00,1426.59,1428.35,1424.49,1427.20,1426.3548
2012-11-01 16:00:00+00:00,1427.22,1427.69,1425.01,1425.40,1426.5282
2012-11-01 17:00:00+00:00,1425.38,1425.70,1423.90,1424.34,1424.5882
2012-11-01 18:00:00+00:00,1424.34,1427.50,1423.54,1426.97,1425.4161
2012-11-01 19:00:00+00:00,1426.96,1427.75,1424.66,1426.93,1426.5441
2012-11-01 20:00:00+00:00,1427.48,1427.59,1427.47,1427.59,1427.5836

('2014-07-03 00:00', '2014-07-03 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2014-07-03 13:00:00+00:00,1975.88,1981.98,1975.88,1980.42,1980.4420
2014-07-03 14:00:00+00:00,1980.36,1981.89,1979.33,1981.18,1980.8373
2014-07-03 15:00:00+00:00,1981.19,1983.50,1981.04,1983.50,1982.2117
2014-07-03 16:00:00+00:00,1983.51,1985.59,1983.21,1985.59,1984.4372
2014-07-03 17:00:00+00:00,1985.51,1985.55,1985.17,1985.44,1985.4152

('2015-09-02 00:00', '2015-09-02 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2015-09-02 13:00:00+00:00,1916.52,1938.37,1916.52,1930.84,1933.8087
2015-09-02 14:00:00+00:00,1930.88,1935.71,1919.64,1924.89,1926.9341
2015-09-02 15:00:00+00:00,1924.91,1931.59,1920.45,1923.10,1926.2600
2015-09-02 16:00:00+00:00,1923.10,1934.99,1920.29,1934.46,1926.1309
2015-09-02 17:00:00+00:00,1934.45,1938.03,1931.68,1933.66,1934.6466
2015-09-02 18:00:00+00:00,1933.66,1939.68,1929.32,1935.24,1935.2915
2015-09-02 19:00:00+00:00,1935.26,1948.68,1929.00,1948.68,1936.8953
2015-09-02 20:00:00+00:00,1948.64,1948.91,1948.64,1948.86,1948.8598

('2016-03-28 00:00', '2016-03-28 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2016-03-28 13:00:00+00:00,2037.89,2040.74,2035.29,2036.26,2037.0913
2016-03-28 14:00:00+00:00,2036.28,2038.65,2031.96,2034.59,2035.8234
2016-03-28 15:00:00+00:00,2034.60,2037.36,2032.72,2037.11,2035.3500
2016-03-28 16:00:00+00:00,2037.11,2040.94,2035.26,2040.79,2038.0200
2016-03-28 17:00:00+00:00,2040.79,2040.91,2038.73,2040.26,2039.7654
2016-03-28 18:00:00+00:00,2040.26,2042.67,2035.93,2036.87,2039.7315
2016-03-28 19:00:00+00:00,2036.89,2040.77,2035.46,2037.09,2038.5399
2016-03-28 20:00:00+00:00,2037.09,2037.09,2037.04,2037.05,2037.0518

('2017-04-21 00:00', '2017-04-21 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2017-04-21 13:00:00+00:00,2354.74,2356.18,2352.42,2353.53,2354.4362
2017-04-21 14:00:00+00:00,2353.58,2355.17,2350.58,2351.79,2353.4016
2017-04-21 15:00:00+00:00,2351.79,2354.13,2348.85,2353.25,2351.9150
2017-04-21 16:00:00+00:00,2353.25,2353.27,2349.60,2350.27,2351.1380
2017-04-21 17:00:00+00:00,2350.26,2351.53,2344.51,2351.15,2347.4511
2017-04-21 18:00:00+00:00,2351.13,2353.02,2349.90,2351.33,2351.3533
2017-04-21 19:00:00+00:00,2351.34,2352.13,2347.99,2348.90,2350.0469
2017-04-21 20:00:00+00:00,2348.98,2348.98,2348.69,2348.69,2348.7114

In [170]:
for day in days:
    dayl = ('{} 00:00'.format(day), '{} 23:00'.format(day))
    display(dayl)
    display(local.loc[dayl[0]:dayl[1]])
    #display(runt_dfs[asset_keys[-1]].loc[dayl[0]:dayl[1]])

('2009-06-01 00:00', '2009-06-01 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2009-06-01 08:00:00+00:00,923.26,938.22,923.26,936.37,933.7776
2009-06-01 09:00:00+00:00,936.75,942.69,936.75,942.13,941.0939
2009-06-01 10:00:00+00:00,942.22,944.14,941.60,943.72,942.4451
2009-06-01 11:00:00+00:00,943.74,945.53,942.82,942.91,944.0086
2009-06-01 12:00:00+00:00,942.77,947.15,942.16,946.89,943.6656
2009-06-01 13:00:00+00:00,947.01,947.77,943.08,944.15,945.2102
2009-06-01 14:00:00+00:00,944.05,946.87,940.03,943.99,943.5008
2009-06-01 15:00:00+00:00,943.91,943.91,942.86,942.87,942.8939

('2010-04-24 00:00', '2010-04-24 23:00')

Empty DataFrame
Columns: [pba_open, pba_high, pba_low, pba_close, pba_avgPrice]
Index: []

('2011-01-28 00:00', '2011-01-28 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2011-01-28 08:00:00+00:00,1299.63,1302.67,1298.99,1298.99,1300.5726
2011-01-28 09:00:00+00:00,1298.95,1298.95,1288.38,1288.75,1293.1334
2011-01-28 10:00:00+00:00,1288.11,1289.51,1280.19,1280.76,1285.8029
2011-01-28 11:00:00+00:00,1280.78,1282.84,1276.55,1281.77,1280.8125
2011-01-28 12:00:00+00:00,1281.95,1281.95,1276.22,1281.29,1278.5050
2011-01-28 13:00:00+00:00,1281.13,1281.77,1278.30,1279.88,1280.1754
2011-01-28 14:00:00+00:00,1279.96,1280.47,1275.10,1276.38,1277.3732
2011-01-28 15:00:00+00:00,1276.38,1276.38,1276.34,1276.34,1276.3435

('2011-11-08 00:00', '2011-11-08 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2011-11-08 08:00:00+00:00,1261.12,1270.29,1261.12,1270.29,1266.7221
2011-11-08 09:00:00+00:00,1270.79,1271.17,1259.83,1262.00,1264.5631
2011-11-08 10:00:00+00:00,1262.17,1263.31,1254.99,1258.33,1258.0599
2011-11-08 11:00:00+00:00,1258.16,1261.84,1256.82,1259.94,1260.3433
2011-11-08 12:00:00+00:00,1259.93,1270.35,1257.83,1269.15,1262.5373
2011-11-08 13:00:00+00:00,1268.85,1273.21,1266.60,1272.87,1270.2472
2011-11-08 14:00:00+00:00,1272.51,1277.55,1269.77,1275.56,1274.1381
2011-11-08 15:00:00+00:00,1275.97,1275.97,1275.91,1275.92,1275.9230

('2012-10-09 00:00', '2012-10-09 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2012-10-09 08:00:00+00:00,1455.90,1455.90,1452.47,1452.77,1453.8155
2012-10-09 09:00:00+00:00,1452.60,1455.22,1445.04,1446.02,1452.1165
2012-10-09 10:00:00+00:00,1446.05,1446.08,1442.23,1443.73,1444.2932
2012-10-09 11:00:00+00:00,1443.74,1446.39,1442.97,1443.30,1444.3447
2012-10-09 12:00:00+00:00,1443.31,1446.75,1443.12,1445.05,1445.1452
2012-10-09 13:00:00+00:00,1445.02,1446.90,1443.78,1446.54,1445.5894
2012-10-09 14:00:00+00:00,1446.62,1447.19,1441.18,1441.64,1443.5894
2012-10-09 15:00:00+00:00,1441.56,1441.56,1441.48,1441.48,1441.4829

('2012-11-01 00:00', '2012-11-01 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2012-11-01 08:00:00+00:00,1412.20,1421.21,1412.20,1420.41,1418.0720
2012-11-01 09:00:00+00:00,1420.70,1427.90,1420.70,1426.52,1425.2427
2012-11-01 10:00:00+00:00,1426.59,1428.35,1424.49,1427.20,1426.3548
2012-11-01 11:00:00+00:00,1427.22,1427.69,1425.01,1425.40,1426.5282
2012-11-01 12:00:00+00:00,1425.38,1425.70,1423.90,1424.34,1424.5882
2012-11-01 13:00:00+00:00,1424.34,1427.50,1423.54,1426.97,1425.4161
2012-11-01 14:00:00+00:00,1426.96,1427.75,1424.66,1426.93,1426.5441
2012-11-01 15:00:00+00:00,1427.48,1427.59,1427.47,1427.59,1427.5836

('2014-07-03 00:00', '2014-07-03 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2014-07-03 08:00:00+00:00,1975.88,1981.98,1975.88,1980.42,1980.4420
2014-07-03 09:00:00+00:00,1980.36,1981.89,1979.33,1981.18,1980.8373
2014-07-03 10:00:00+00:00,1981.19,1983.50,1981.04,1983.50,1982.2117
2014-07-03 11:00:00+00:00,1983.51,1985.59,1983.21,1985.59,1984.4372
2014-07-03 12:00:00+00:00,1985.51,1985.55,1985.17,1985.44,1985.4152

('2015-09-02 00:00', '2015-09-02 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2015-09-02 08:00:00+00:00,1916.52,1938.37,1916.52,1930.84,1933.8087
2015-09-02 09:00:00+00:00,1930.88,1935.71,1919.64,1924.89,1926.9341
2015-09-02 10:00:00+00:00,1924.91,1931.59,1920.45,1923.10,1926.2600
2015-09-02 11:00:00+00:00,1923.10,1934.99,1920.29,1934.46,1926.1309
2015-09-02 12:00:00+00:00,1934.45,1938.03,1931.68,1933.66,1934.6466
2015-09-02 13:00:00+00:00,1933.66,1939.68,1929.32,1935.24,1935.2915
2015-09-02 14:00:00+00:00,1935.26,1948.68,1929.00,1948.68,1936.8953
2015-09-02 15:00:00+00:00,1948.64,1948.91,1948.64,1948.86,1948.8598

('2016-03-28 00:00', '2016-03-28 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2016-03-28 08:00:00+00:00,2037.89,2040.74,2035.29,2036.26,2037.0913
2016-03-28 09:00:00+00:00,2036.28,2038.65,2031.96,2034.59,2035.8234
2016-03-28 10:00:00+00:00,2034.60,2037.36,2032.72,2037.11,2035.3500
2016-03-28 11:00:00+00:00,2037.11,2040.94,2035.26,2040.79,2038.0200
2016-03-28 12:00:00+00:00,2040.79,2040.91,2038.73,2040.26,2039.7654
2016-03-28 13:00:00+00:00,2040.26,2042.67,2035.93,2036.87,2039.7315
2016-03-28 14:00:00+00:00,2036.89,2040.77,2035.46,2037.09,2038.5399
2016-03-28 15:00:00+00:00,2037.09,2037.09,2037.04,2037.05,2037.0518

('2017-04-21 00:00', '2017-04-21 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2017-04-21 08:00:00+00:00,2354.74,2356.18,2352.42,2353.53,2354.4362
2017-04-21 09:00:00+00:00,2353.58,2355.17,2350.58,2351.79,2353.4016
2017-04-21 10:00:00+00:00,2351.79,2354.13,2348.85,2353.25,2351.9150
2017-04-21 11:00:00+00:00,2353.25,2353.27,2349.60,2350.27,2351.1380
2017-04-21 12:00:00+00:00,2350.26,2351.53,2344.51,2351.15,2347.4511
2017-04-21 13:00:00+00:00,2351.13,2353.02,2349.90,2351.33,2351.3533
2017-04-21 14:00:00+00:00,2351.34,2352.13,2347.99,2348.90,2350.0469
2017-04-21 15:00:00+00:00,2348.98,2348.98,2348.69,2348.69,2348.7114

### Test Section

In [34]:
runt_rcs, runt_dfs = process_transform(step, dump=False)

/home/kev/miniconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:708: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels = getattr(columns, 'labels', None) or [
/home/kev/miniconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:735: FutureWarning: the 'labels' keyword is deprecated, use 'codes' instead
  return pd.MultiIndex(levels=new_levels, labels=labels, names=columns.names)
/home/kev/miniconda3/lib/python3.7/site-packages/pyarrow/pandas_compat.py:752: FutureWarning: .labels was deprecated in version 0.24.0. Use .codes instead.
  labels, = index.labels

INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'pba']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'pba', 'pba']]
DEBUG:root:pre-runt:                            pba_open  pba_high   pba_low  pba_close  \
id
1996-01-02 14:00:00+00:00   5115.67   5115.67   5098.69    5111.70
1996-01-02 15:00:00+00:00   5112.42   5159.75   5112.42    5157.22
1996-01-02 16:00:00+00:00   5157.22   5157.22   5144.22    5151.80
1996-01-02 17:00:00+00:00   5151.44   5159.39   5148.55    5158.67
1996-01-02 18:00:00+00:00   5158.67   5165.53   5156.50    5163.00
...                             ...       ...       ...        ...
2018-01-08 17:00:00+00:00  25259.27  25276.45  25253.96   25275.32
2018-01-08 18:00:00+00:00  25275.07  25311.99  25275.07   25299.05
2018-01-08 19:00:00+00:00  25298.96  25305.34  25289.86   25299.16
2018-01-08 20:00:00+00:00  25299.39  25301.22  25265.93   25278.24
2018-01-08 21:00:00+00:00  25276.00  25283.00  25276.00   25283.00

                           pba_avgPrice
id
1996-01-02 14:00:00+00:00     5108.7815
1996-01-02 15:00:00+00:00     5143.7829
1996-01-02 16:00:00+00:00     5150.6398
1996-01-02 17:00:00+00:00     5154.6890
1996-01-02 18:00:00+00:00     5161.0019
...                                 ...
2018-01-08 17:00:00+00:00    25266.2889
2018-01-08 18:00:00+00:00    25296.8215
2018-01-08 19:00:00+00:00    25298.0025
2018-01-08 20:00:00+00:00    25283.0163
2018-01-08 21:00:00+00:00    25282.7404

[43772 rows x 5 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}

/home/kev/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:456: FutureWarning: The default of the 'keep_tz' keyword in DatetimeIndex.to_series will change to True in a future release. You can set 'keep_tz=True' to obtain the future behaviour and silence this warning.
  s = level_values.to_series()
/home/kev/miniconda3/lib/python3.7/site-packages/pandas/core/generic.py:464: FutureWarning: The default of the 'keep_tz' keyword in DatetimeIndex.to_series will change to True in a future release. You can set 'keep_tz=True' to obtain the future behaviour and silence this warning.
  dindex = axis_index.to_series()

DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            pba_open  pba_high   pba_low  pba_close  \
id
2009-01-02 14:00:00+00:00   8771.77   8817.65   8761.10    8783.08
2009-01-02 15:00:00+00:00   8783.24   8907.97   8768.99    8905.82
2009-01-02 16:00:00+00:00   8905.98   8934.65   8889.89    8918.17
2009-01-02 17:00:00+00:00   8918.41   8951.54   8913.87    8931.07
2009-01-02 18:00:00+00:00   8931.47   8981.57   8925.97    8968.66
...                             ...       ...       ...        ...
2017-12-29 17:00:00+00:00  24826.01  24828.58  24810.17   24815.47
2017-12-29 18:00:00+00:00  24815.35  24817.70  24789.76   24798.39
2017-12-29 19:00:00+00:00  24798.38  24808.67  24795.19   24805.51
2017-12-29 20:00:00+00:00  24805.31  24822.22  24735.60   24743.73
2017-12-29 21:00:00+00:00  24744.45  24749.99  24719.22   24719.22

                           pba_avgPrice
id
2009-01-02 14:00:00+00:00     8795.6230
2009-01-02 15:00:00+00:00     8839.0401
2009-01-02 16:00:00+00:00     8912.6615
2009-01-02 17:00:00+00:00     8930.6138
2009-01-02 18:00:00+00:00     8956.4848
...                                 ...
2017-12-29 17:00:00+00:00    24819.7129
2017-12-29 18:00:00+00:00    24806.7749
2017-12-29 19:00:00+00:00    24802.3847
2017-12-29 20:00:00+00:00    24802.1265
2017-12-29 21:00:00+00:00    24722.2320

[18068 rows x 5 columns]
INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'trmi3_etf3_news_buzz']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3911, freq=None)
DEBUG:root:pre-runt:                             etf3_buzz_N
id
1998-01-02 14:00:00+00:00    210.500000
1998-01-02 15:00:00+00:00    210.500000
1998-01-02 16:00:00+00:00    210.500000
1998-01-02 17:00:00+00:00    210.500000
1998-01-02 18:00:00+00:00    730.400000
...                                 ...
2018-01-08 17:00:00+00:00  45581.000002
2018-01-08 18:00:00+00:00  48958.500002
2018-01-08 19:00:00+00:00  50911.400001
2018-01-08 20:00:00+00:00  53116.100001
2018-01-08 21:00:00+00:00  55652.500001

[39861 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            etf3_buzz_N_open  etf3_buzz_N_high  \
id
2009-01-02 14:00:00+00:00      19090.100000      19090.100000
2009-01-02 15:00:00+00:00      19916.000000      19916.000000
2009-01-02 16:00:00+00:00      20961.700000      20961.700000
2009-01-02 17:00:00+00:00      22172.200000      22172.200000
2009-01-02 18:00:00+00:00      23940.300000      23940.300000
...                                     ...               ...
2017-12-29 17:00:00+00:00      64856.000005      64856.000005
2017-12-29 18:00:00+00:00      67381.400005      67381.400005
2017-12-29 19:00:00+00:00      68242.000005      68242.000005
2017-12-29 20:00:00+00:00      69446.700005      69446.700005
2017-12-29 21:00:00+00:00      69638.600005      69638.600005

                           etf3_buzz_N_low  etf3_buzz_N_close  \
id
2009-01-02 14:00:00+00:00     19090.100000       19090.100000
2009-01-02 15:00:00+00:00     19916.000000       19916.000000
2009-01-02 16:00:00+00:00     20961.700000       20961.700000
2009-01-02 17:00:00+00:00     22172.200000       22172.200000
2009-01-02 18:00:00+00:00     23940.300000       23940.300000
...                                    ...                ...
2017-12-29 17:00:00+00:00     64856.000005       64856.000005
2017-12-29 18:00:00+00:00     67381.400005       67381.400005
2017-12-29 19:00:00+00:00     68242.000005       68242.000005
2017-12-29 20:00:00+00:00     69446.700005       69446.700005
2017-12-29 21:00:00+00:00     69638.600005       69638.600005

                           etf3_buzz_N_avgPrice
id
2009-01-02 14:00:00+00:00          19090.100000
2009-01-02 15:00:00+00:00          19916.000000
2009-01-02 16:00:00+00:00          20961.700000
2009-01-02 17:00:00+00:00          22172.200000
2009-01-02 18:00:00+00:00          23940.300000
...                                         ...
2017-12-29 17:00:00+00:00          64856.000005
2017-12-29 18:00:00+00:00          67381.400005
2017-12-29 19:00:00+00:00          68242.000005
2017-12-29 20:00:00+00:00          69446.700005
2017-12-29 21:00:00+00:00          69638.600005

[18068 rows x 5 columns]
INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'trmi3_etf3_social_buzz']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3911, freq=None)
DEBUG:root:pre-runt:                             etf3_buzz_S
id
1998-01-02 14:00:00+00:00   2714.900000
1998-01-02 15:00:00+00:00   2865.100000
1998-01-02 16:00:00+00:00   2858.800000
1998-01-02 17:00:00+00:00   3043.800000
1998-01-02 18:00:00+00:00   3185.300000
...                                 ...
2018-01-08 17:00:00+00:00  16577.900001
2018-01-08 18:00:00+00:00  17849.900001
2018-01-08 19:00:00+00:00  18607.000001
2018-01-08 20:00:00+00:00  20008.800001
2018-01-08 21:00:00+00:00  21015.600001

[39861 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            etf3_buzz_S_open  etf3_buzz_S_high  \
id
2009-01-02 14:00:00+00:00      14797.300000      14797.300000
2009-01-02 15:00:00+00:00      15383.900000      15383.900000
2009-01-02 16:00:00+00:00      16158.000000      16158.000000
2009-01-02 17:00:00+00:00      16862.200000      16862.200000
2009-01-02 18:00:00+00:00      17774.700000      17774.700000
...                                     ...               ...
2017-12-29 17:00:00+00:00      18765.900001      18765.900001
2017-12-29 18:00:00+00:00      19013.100001      19013.100001
2017-12-29 19:00:00+00:00      19502.700001      19502.700001
2017-12-29 20:00:00+00:00      19734.600001      19734.600001
2017-12-29 21:00:00+00:00      20111.700001      20111.700001

                           etf3_buzz_S_low  etf3_buzz_S_close  \
id
2009-01-02 14:00:00+00:00     14797.300000       14797.300000
2009-01-02 15:00:00+00:00     15383.900000       15383.900000
2009-01-02 16:00:00+00:00     16158.000000       16158.000000
2009-01-02 17:00:00+00:00     16862.200000       16862.200000
2009-01-02 18:00:00+00:00     17774.700000       17774.700000
...                                    ...                ...
2017-12-29 17:00:00+00:00     18765.900001       18765.900001
2017-12-29 18:00:00+00:00     19013.100001       19013.100001
2017-12-29 19:00:00+00:00     19502.700001       19502.700001
2017-12-29 20:00:00+00:00     19734.600001       19734.600001
2017-12-29 21:00:00+00:00     20111.700001       20111.700001

                           etf3_buzz_S_avgPrice
id
2009-01-02 14:00:00+00:00          14797.300000
2009-01-02 15:00:00+00:00          15383.900000
2009-01-02 16:00:00+00:00          16158.000000
2009-01-02 17:00:00+00:00          16862.200000
2009-01-02 18:00:00+00:00          17774.700000
...                                         ...
2017-12-29 17:00:00+00:00          18765.900001
2017-12-29 18:00:00+00:00          19013.100001
2017-12-29 19:00:00+00:00          19502.700001
2017-12-29 20:00:00+00:00          19734.600001
2017-12-29 21:00:00+00:00          20111.700001

[18068 rows x 5 columns]

INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_bondBuzz']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3911, freq=None)
DEBUG:root:pre-runt:                            mkt3_bondBuzz_N
id
1998-01-02 14:00:00+00:00             59.0
1998-01-02 15:00:00+00:00             59.0
1998-01-02 16:00:00+00:00             59.0
1998-01-02 17:00:00+00:00             59.0
1998-01-02 18:00:00+00:00            333.0
...                                    ...
2018-01-08 17:00:00+00:00           1470.2
2018-01-08 18:00:00+00:00           1672.6
2018-01-08 19:00:00+00:00           1925.6
2018-01-08 20:00:00+00:00           2036.6
2018-01-08 21:00:00+00:00           2294.0

[39861 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_bondBuzz_N_open  mkt3_bondBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                1643.9                1643.9
2009-01-02 15:00:00+00:00                1915.3                1915.3
2009-01-02 16:00:00+00:00                2245.2                2245.2
2009-01-02 17:00:00+00:00                2481.6                2481.6
2009-01-02 18:00:00+00:00                2797.6                2797.6
...                                         ...                   ...
2017-12-29 17:00:00+00:00                2686.3                2686.3
2017-12-29 18:00:00+00:00                2569.8                2569.8
2017-12-29 19:00:00+00:00                2514.4                2514.4
2017-12-29 20:00:00+00:00                2473.8                2473.8
2017-12-29 21:00:00+00:00                2466.2                2466.2

                           mkt3_bondBuzz_N_low  mkt3_bondBuzz_N_close  \
id
2009-01-02 14:00:00+00:00               1643.9                 1643.9
2009-01-02 15:00:00+00:00               1915.3                 1915.3
2009-01-02 16:00:00+00:00               2245.2                 2245.2
2009-01-02 17:00:00+00:00               2481.6                 2481.6
2009-01-02 18:00:00+00:00               2797.6                 2797.6
...                                        ...                    ...
2017-12-29 17:00:00+00:00               2686.3                 2686.3
2017-12-29 18:00:00+00:00               2569.8                 2569.8
2017-12-29 19:00:00+00:00               2514.4                 2514.4
2017-12-29 20:00:00+00:00               2473.8                 2473.8
2017-12-29 21:00:00+00:00               2466.2                 2466.2

                           mkt3_bondBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                    1643.9
2009-01-02 15:00:00+00:00                    1915.3
2009-01-02 16:00:00+00:00                    2245.2
2009-01-02 17:00:00+00:00                    2481.6
2009-01-02 18:00:00+00:00                    2797.6
...                                             ...
2017-12-29 17:00:00+00:00                    2686.3
2017-12-29 18:00:00+00:00                    2569.8
2017-12-29 19:00:00+00:00                    2514.4
2017-12-29 20:00:00+00:00                    2473.8
2017-12-29 21:00:00+00:00                    2466.2

[18068 rows x 5 columns]
INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_ratesBuzz']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3911, freq=None)
DEBUG:root:pre-runt:                            mkt3_ratesBuzz_N
id
1998-01-02 14:00:00+00:00              12.5
1998-01-02 15:00:00+00:00              12.5
1998-01-02 16:00:00+00:00              12.5
1998-01-02 17:00:00+00:00              12.5
1998-01-02 18:00:00+00:00              42.5
...                                     ...
2018-01-08 17:00:00+00:00            1826.0
2018-01-08 18:00:00+00:00            2001.0
2018-01-08 19:00:00+00:00            2078.0
2018-01-08 20:00:00+00:00            2209.5
2018-01-08 21:00:00+00:00            2433.5

[39861 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_ratesBuzz_N_open  mkt3_ratesBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                  753.5                  753.5
2009-01-02 15:00:00+00:00                  836.5                  836.5
2009-01-02 16:00:00+00:00                  865.5                  865.5
2009-01-02 17:00:00+00:00                  958.5                  958.5
2009-01-02 18:00:00+00:00                 1130.0                 1130.0
...                                          ...                    ...
2017-12-29 17:00:00+00:00                  927.0                  927.0
2017-12-29 18:00:00+00:00                  951.0                  951.0
2017-12-29 19:00:00+00:00                  943.0                  943.0
2017-12-29 20:00:00+00:00                  947.0                  947.0
2017-12-29 21:00:00+00:00                  946.5                  946.5

                           mkt3_ratesBuzz_N_low  mkt3_ratesBuzz_N_close  \
id
2009-01-02 14:00:00+00:00                 753.5                   753.5
2009-01-02 15:00:00+00:00                 836.5                   836.5
2009-01-02 16:00:00+00:00                 865.5                   865.5
2009-01-02 17:00:00+00:00                 958.5                   958.5
2009-01-02 18:00:00+00:00                1130.0                  1130.0
...                                         ...                     ...
2017-12-29 17:00:00+00:00                 927.0                   927.0
2017-12-29 18:00:00+00:00                 951.0                   951.0
2017-12-29 19:00:00+00:00                 943.0                   943.0
2017-12-29 20:00:00+00:00                 947.0                   947.0
2017-12-29 21:00:00+00:00                 946.5                   946.5

                           mkt3_ratesBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                      753.5
2009-01-02 15:00:00+00:00                      836.5
2009-01-02 16:00:00+00:00                      865.5
2009-01-02 17:00:00+00:00                      958.5
2009-01-02 18:00:00+00:00                     1130.0
...                                              ...
2017-12-29 17:00:00+00:00                      927.0
2017-12-29 18:00:00+00:00                      951.0
2017-12-29 19:00:00+00:00                      943.0
2017-12-29 20:00:00+00:00                      947.0
2017-12-29 21:00:00+00:00                      946.5

[18068 rows x 5 columns]

INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_stockIndexBuzz']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3911, freq=None)
DEBUG:root:pre-runt:                            mkt3_stockIndexBuzz_N
id
1998-01-02 14:00:00+00:00              62.000000
1998-01-02 15:00:00+00:00              62.000000
1998-01-02 16:00:00+00:00              62.000000
1998-01-02 17:00:00+00:00              62.000000
1998-01-02 18:00:00+00:00             398.500000
...                                          ...
2018-01-08 17:00:00+00:00            7813.999999
2018-01-08 18:00:00+00:00            8511.199999
2018-01-08 19:00:00+00:00            9083.199999
2018-01-08 20:00:00+00:00            9465.199999
2018-01-08 21:00:00+00:00            9830.300000

[39861 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_stockIndexBuzz_N_open  \
id
2009-01-02 14:00:00+00:00                 2868.400000
2009-01-02 15:00:00+00:00                 3409.700000
2009-01-02 16:00:00+00:00                 3661.700000
2009-01-02 17:00:00+00:00                 4255.100000
2009-01-02 18:00:00+00:00                 5062.000000
...                                               ...
2017-12-29 17:00:00+00:00                 9071.500001
2017-12-29 18:00:00+00:00                 9153.200001
2017-12-29 19:00:00+00:00                 9144.000001
2017-12-29 20:00:00+00:00                 8812.000001
2017-12-29 21:00:00+00:00                 8793.500001

                           mkt3_stockIndexBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                 2868.400000
2009-01-02 15:00:00+00:00                 3409.700000
2009-01-02 16:00:00+00:00                 3661.700000
2009-01-02 17:00:00+00:00                 4255.100000
2009-01-02 18:00:00+00:00                 5062.000000
...                                               ...
2017-12-29 17:00:00+00:00                 9071.500001
2017-12-29 18:00:00+00:00                 9153.200001
2017-12-29 19:00:00+00:00                 9144.000001
2017-12-29 20:00:00+00:00                 8812.000001
2017-12-29 21:00:00+00:00                 8793.500001

                           mkt3_stockIndexBuzz_N_low  \
id
2009-01-02 14:00:00+00:00                2868.400000
2009-01-02 15:00:00+00:00                3409.700000
2009-01-02 16:00:00+00:00                3661.700000
2009-01-02 17:00:00+00:00                4255.100000
2009-01-02 18:00:00+00:00                5062.000000
...                                              ...
2017-12-29 17:00:00+00:00                9071.500001
2017-12-29 18:00:00+00:00                9153.200001
2017-12-29 19:00:00+00:00                9144.000001
2017-12-29 20:00:00+00:00                8812.000001
2017-12-29 21:00:00+00:00                8793.500001

                           mkt3_stockIndexBuzz_N_close  \
id
2009-01-02 14:00:00+00:00                  2868.400000
2009-01-02 15:00:00+00:00                  3409.700000
2009-01-02 16:00:00+00:00                  3661.700000
2009-01-02 17:00:00+00:00                  4255.100000
2009-01-02 18:00:00+00:00                  5062.000000
...                                                ...
2017-12-29 17:00:00+00:00                  9071.500001
2017-12-29 18:00:00+00:00                  9153.200001
2017-12-29 19:00:00+00:00                  9144.000001
2017-12-29 20:00:00+00:00                  8812.000001
2017-12-29 21:00:00+00:00                  8793.500001

                           mkt3_stockIndexBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                     2868.400000
2009-01-02 15:00:00+00:00                     3409.700000
2009-01-02 16:00:00+00:00                     3661.700000
2009-01-02 17:00:00+00:00                     4255.100000
2009-01-02 18:00:00+00:00                     5062.000000
...                                                   ...
2017-12-29 17:00:00+00:00                     9071.500001
2017-12-29 18:00:00+00:00                     9153.200001
2017-12-29 19:00:00+00:00                     9144.000001
2017-12-29 20:00:00+00:00                     8812.000001
2017-12-29 21:00:00+00:00                     8793.500001

[18068 rows x 5 columns]
INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_bondBuzz']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3911, freq=None)
DEBUG:root:pre-runt:                            mkt3_bondBuzz_S
id
1998-01-02 14:00:00+00:00              0.0
1998-01-02 15:00:00+00:00              0.0
1998-01-02 16:00:00+00:00              7.0
1998-01-02 17:00:00+00:00              7.0
1998-01-02 18:00:00+00:00              7.0
...                                    ...
2018-01-08 17:00:00+00:00            310.5
2018-01-08 18:00:00+00:00            370.5
2018-01-08 19:00:00+00:00            412.0
2018-01-08 20:00:00+00:00            534.0
2018-01-08 21:00:00+00:00            545.5

[39861 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_bondBuzz_S_open  mkt3_bondBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                 300.2                 300.2
2009-01-02 15:00:00+00:00                 299.2                 299.2
2009-01-02 16:00:00+00:00                 291.2                 291.2
2009-01-02 17:00:00+00:00                 288.2                 288.2
2009-01-02 18:00:00+00:00                 314.7                 314.7
...                                         ...                   ...
2017-12-29 17:00:00+00:00                 508.0                 508.0
2017-12-29 18:00:00+00:00                 492.5                 492.5
2017-12-29 19:00:00+00:00                 453.5                 453.5
2017-12-29 20:00:00+00:00                 402.0                 402.0
2017-12-29 21:00:00+00:00                 376.5                 376.5

                           mkt3_bondBuzz_S_low  mkt3_bondBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                300.2                  300.2
2009-01-02 15:00:00+00:00                299.2                  299.2
2009-01-02 16:00:00+00:00                291.2                  291.2
2009-01-02 17:00:00+00:00                288.2                  288.2
2009-01-02 18:00:00+00:00                314.7                  314.7
...                                        ...                    ...
2017-12-29 17:00:00+00:00                508.0                  508.0
2017-12-29 18:00:00+00:00                492.5                  492.5
2017-12-29 19:00:00+00:00                453.5                  453.5
2017-12-29 20:00:00+00:00                402.0                  402.0
2017-12-29 21:00:00+00:00                376.5                  376.5

                           mkt3_bondBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                     300.2
2009-01-02 15:00:00+00:00                     299.2
2009-01-02 16:00:00+00:00                     291.2
2009-01-02 17:00:00+00:00                     288.2
2009-01-02 18:00:00+00:00                     314.7
...                                             ...
2017-12-29 17:00:00+00:00                     508.0
2017-12-29 18:00:00+00:00                     492.5
2017-12-29 19:00:00+00:00                     453.5
2017-12-29 20:00:00+00:00                     402.0
2017-12-29 21:00:00+00:00                     376.5

[18068 rows x 5 columns]

INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_ratesBuzz']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3911, freq=None)
DEBUG:root:pre-runt:                            mkt3_ratesBuzz_S
id
1998-01-02 14:00:00+00:00               4.0
1998-01-02 15:00:00+00:00               4.0
1998-01-02 16:00:00+00:00               4.0
1998-01-02 17:00:00+00:00               4.0
1998-01-02 18:00:00+00:00               1.0
...                                     ...
2018-01-08 17:00:00+00:00             233.0
2018-01-08 18:00:00+00:00             254.5
2018-01-08 19:00:00+00:00             294.5
2018-01-08 20:00:00+00:00             311.0
2018-01-08 21:00:00+00:00             338.5

[39861 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_ratesBuzz_S_open  mkt3_ratesBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                  225.5                  225.5
2009-01-02 15:00:00+00:00                  225.5                  225.5
2009-01-02 16:00:00+00:00                  219.5                  219.5
2009-01-02 17:00:00+00:00                  233.5                  233.5
2009-01-02 18:00:00+00:00                  221.5                  221.5
...                                          ...                    ...
2017-12-29 17:00:00+00:00                  247.5                  247.5
2017-12-29 18:00:00+00:00                  244.5                  244.5
2017-12-29 19:00:00+00:00                  242.5                  242.5
2017-12-29 20:00:00+00:00                  222.5                  222.5
2017-12-29 21:00:00+00:00                  224.0                  224.0

                           mkt3_ratesBuzz_S_low  mkt3_ratesBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                 225.5                   225.5
2009-01-02 15:00:00+00:00                 225.5                   225.5
2009-01-02 16:00:00+00:00                 219.5                   219.5
2009-01-02 17:00:00+00:00                 233.5                   233.5
2009-01-02 18:00:00+00:00                 221.5                   221.5
...                                         ...                     ...
2017-12-29 17:00:00+00:00                 247.5                   247.5
2017-12-29 18:00:00+00:00                 244.5                   244.5
2017-12-29 19:00:00+00:00                 242.5                   242.5
2017-12-29 20:00:00+00:00                 222.5                   222.5
2017-12-29 21:00:00+00:00                 224.0                   224.0

                           mkt3_ratesBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                      225.5
2009-01-02 15:00:00+00:00                      225.5
2009-01-02 16:00:00+00:00                      219.5
2009-01-02 17:00:00+00:00                      233.5
2009-01-02 18:00:00+00:00                      221.5
...                                              ...
2017-12-29 17:00:00+00:00                      247.5
2017-12-29 18:00:00+00:00                      244.5
2017-12-29 19:00:00+00:00                      242.5
2017-12-29 20:00:00+00:00                      222.5
2017-12-29 21:00:00+00:00                      224.0

[18068 rows x 5 columns]
INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_stockIndexBuzz']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3911, freq=None)
DEBUG:root:pre-runt:                            mkt3_stockIndexBuzz_S
id
1998-01-02 14:00:00+00:00                   19.0
1998-01-02 15:00:00+00:00                   30.0
1998-01-02 16:00:00+00:00                   31.0
1998-01-02 17:00:00+00:00                   48.0
1998-01-02 18:00:00+00:00                   48.0
...                                          ...
2018-01-08 17:00:00+00:00                 1548.0
2018-01-08 18:00:00+00:00                 1633.1
2018-01-08 19:00:00+00:00                 1899.6
2018-01-08 20:00:00+00:00                 2016.9
2018-01-08 21:00:00+00:00                 2157.1

[39861 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_stockIndexBuzz_S_open  \
id
2009-01-02 14:00:00+00:00                       716.1
2009-01-02 15:00:00+00:00                       714.6
2009-01-02 16:00:00+00:00                       755.0
2009-01-02 17:00:00+00:00                       809.5
2009-01-02 18:00:00+00:00                      1008.3
...                                               ...
2017-12-29 17:00:00+00:00                      1159.5
2017-12-29 18:00:00+00:00                      1198.0
2017-12-29 19:00:00+00:00                      1257.0
2017-12-29 20:00:00+00:00                      1472.0
2017-12-29 21:00:00+00:00                      1547.9

                           mkt3_stockIndexBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                       716.1
2009-01-02 15:00:00+00:00                       714.6
2009-01-02 16:00:00+00:00                       755.0
2009-01-02 17:00:00+00:00                       809.5
2009-01-02 18:00:00+00:00                      1008.3
...                                               ...
2017-12-29 17:00:00+00:00                      1159.5
2017-12-29 18:00:00+00:00                      1198.0
2017-12-29 19:00:00+00:00                      1257.0
2017-12-29 20:00:00+00:00                      1472.0
2017-12-29 21:00:00+00:00                      1547.9

                           mkt3_stockIndexBuzz_S_low  \
id
2009-01-02 14:00:00+00:00                      716.1
2009-01-02 15:00:00+00:00                      714.6
2009-01-02 16:00:00+00:00                      755.0
2009-01-02 17:00:00+00:00                      809.5
2009-01-02 18:00:00+00:00                     1008.3
...                                              ...
2017-12-29 17:00:00+00:00                     1159.5
2017-12-29 18:00:00+00:00                     1198.0
2017-12-29 19:00:00+00:00                     1257.0
2017-12-29 20:00:00+00:00                     1472.0
2017-12-29 21:00:00+00:00                     1547.9

                           mkt3_stockIndexBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                        716.1
2009-01-02 15:00:00+00:00                        714.6
2009-01-02 16:00:00+00:00                        755.0
2009-01-02 17:00:00+00:00                        809.5
2009-01-02 18:00:00+00:00                       1008.3
...                                                ...
2017-12-29 17:00:00+00:00                       1159.5
2017-12-29 18:00:00+00:00                       1198.0
2017-12-29 19:00:00+00:00                       1257.0
2017-12-29 20:00:00+00:00                       1472.0
2017-12-29 21:00:00+00:00                       1547.9

                           mkt3_stockIndexBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                           716.1
2009-01-02 15:00:00+00:00                           714.6
2009-01-02 16:00:00+00:00                           755.0
2009-01-02 17:00:00+00:00                           809.5
2009-01-02 18:00:00+00:00                          1008.3
...                                                   ...
2017-12-29 17:00:00+00:00                          1159.5
2017-12-29 18:00:00+00:00                          1198.0
2017-12-29 19:00:00+00:00                          1257.0
2017-12-29 20:00:00+00:00                          1472.0
2017-12-29 21:00:00+00:00                          1547.9

[18068 rows x 5 columns]

INFO:root:data: ['dow_jones', 'root', 'root_split_ohlca', 'join', 'vol']
DEBUG:root:rm_match: [['dow_jones', 'hrm', 'hrm', 'vol', 'vol']]
DEBUG:root:pre-runt:                            vol_open  vol_high  vol_low  vol_close  \
id
2005-03-18 14:00:00+00:00     12.02     12.06    11.89      11.91
2005-03-18 15:00:00+00:00     11.95     12.22    11.86      12.17
2005-03-18 16:00:00+00:00     12.18     12.21    11.81      11.85
2005-03-18 17:00:00+00:00     11.85     12.02    11.84      11.95
2005-03-18 18:00:00+00:00     11.95     12.41    11.94      12.08
...                             ...       ...      ...        ...
2018-01-08 17:00:00+00:00     10.59     10.62    10.47      10.48
2018-01-08 18:00:00+00:00     10.48     10.50    10.18      10.40
2018-01-08 19:00:00+00:00     10.40     10.42    10.20      10.40
2018-01-08 20:00:00+00:00     10.44     10.56    10.29      10.45
2018-01-08 21:00:00+00:00     10.45     10.53     9.89      10.52

                           vol_avgPrice
id
2005-03-18 14:00:00+00:00       11.9899
2005-03-18 15:00:00+00:00       12.0091
2005-03-18 16:00:00+00:00       11.9547
2005-03-18 17:00:00+00:00       11.8950
2005-03-18 18:00:00+00:00       12.1028
...                                 ...
2018-01-08 17:00:00+00:00       10.5582
2018-01-08 18:00:00+00:00       10.3254
2018-01-08 19:00:00+00:00       10.3825
2018-01-08 20:00:00+00:00       10.4395
2018-01-08 21:00:00+00:00       10.4778

[25515 rows x 5 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            vol_open  vol_high  vol_low  vol_close  \
id
2009-01-02 14:00:00+00:00     36.31     36.31    35.99      36.14
2009-01-02 15:00:00+00:00     36.14     36.14    34.96      34.99
2009-01-02 16:00:00+00:00     34.99     34.99    34.52      34.55
2009-01-02 17:00:00+00:00     34.54     34.61    34.40      34.60
2009-01-02 18:00:00+00:00     34.60     34.63    34.33      34.37
...                             ...       ...      ...        ...
2017-12-29 17:00:00+00:00     11.18     11.35    11.15      11.35
2017-12-29 18:00:00+00:00     11.35     11.40    11.17      11.39
2017-12-29 19:00:00+00:00     11.39     11.39    11.15      11.16
2017-12-29 20:00:00+00:00     11.17     11.40    11.03      11.40
2017-12-29 21:00:00+00:00      9.93     11.79     9.93      11.78

                           vol_avgPrice
id
2009-01-02 14:00:00+00:00       36.2191
2009-01-02 15:00:00+00:00       35.5800
2009-01-02 16:00:00+00:00       34.7373
2009-01-02 17:00:00+00:00       34.5493
2009-01-02 18:00:00+00:00       34.5125
...                                 ...
2017-12-29 17:00:00+00:00       11.2751
2017-12-29 18:00:00+00:00       11.2707
2017-12-29 19:00:00+00:00       11.2470
2017-12-29 20:00:00+00:00       11.1699
2017-12-29 21:00:00+00:00       11.6210

[17852 rows x 5 columns]
INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'pba']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'pba', 'pba']]
DEBUG:root:pre-runt:                            pba_open  pba_high   pba_low  pba_close  \
id
1996-01-02 14:00:00+00:00   576.230   577.770   573.890    576.620
1996-01-02 15:00:00+00:00   576.720   582.590   576.470    582.080
1996-01-02 16:00:00+00:00   582.270   582.420   577.160    577.740
1996-01-02 17:00:00+00:00   577.920   578.040   575.960    577.840
1996-01-02 18:00:00+00:00   577.720   579.320   577.460    579.320
...                             ...       ...       ...        ...
2018-01-08 17:00:00+00:00  6673.022  6675.196  6669.175   6671.475
2018-01-08 18:00:00+00:00  6671.475  6677.161  6670.433   6676.851
2018-01-08 19:00:00+00:00  6676.851  6679.368  6668.812   6671.924
2018-01-08 20:00:00+00:00  6671.909  6680.322  6670.020   6675.218
2018-01-08 21:00:00+00:00  6675.218  6676.631  6675.189   6676.631

                           pba_avgPrice
id
1996-01-02 14:00:00+00:00      575.9208
1996-01-02 15:00:00+00:00      580.9530
1996-01-02 16:00:00+00:00      579.2051
1996-01-02 17:00:00+00:00      576.8645
1996-01-02 18:00:00+00:00      578.5769
...                                 ...
2018-01-08 17:00:00+00:00     6672.7836
2018-01-08 18:00:00+00:00     6674.4155
2018-01-08 19:00:00+00:00     6675.4900
2018-01-08 20:00:00+00:00     6673.4163
2018-01-08 21:00:00+00:00     6676.6306

[43331 rows x 5 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            pba_open  pba_high   pba_low  pba_close  \
id
2009-01-02 14:00:00+00:00  1212.740  1216.370  1209.110   1212.330
2009-01-02 15:00:00+00:00  1212.280  1235.190  1211.260   1234.670
2009-01-02 16:00:00+00:00  1234.320  1238.970  1231.040   1237.500
2009-01-02 17:00:00+00:00  1237.500  1246.660  1236.430   1244.090
2009-01-02 18:00:00+00:00  1244.190  1252.060  1243.470   1249.790
...                             ...       ...       ...        ...
2017-12-29 17:00:00+00:00  6422.900  6428.591  6421.361   6422.853
2017-12-29 18:00:00+00:00  6422.899  6425.014  6414.577   6416.283
2017-12-29 19:00:00+00:00  6416.339  6419.628  6415.940   6418.367
2017-12-29 20:00:00+00:00  6418.370  6425.030  6396.677   6398.403
2017-12-29 21:00:00+00:00  6398.277  6398.277  6396.422   6396.422

                           pba_avgPrice
id
2009-01-02 14:00:00+00:00     1213.0478
2009-01-02 15:00:00+00:00     1223.1257
2009-01-02 16:00:00+00:00     1235.3515
2009-01-02 17:00:00+00:00     1241.2140
2009-01-02 18:00:00+00:00     1247.8010
...                                 ...
2017-12-29 17:00:00+00:00     6425.2869
2017-12-29 18:00:00+00:00     6421.2702
2017-12-29 19:00:00+00:00     6417.8346
2017-12-29 20:00:00+00:00     6415.9988
2017-12-29 21:00:00+00:00     6396.4223

[17928 rows x 5 columns]
INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'trmi3_etf3_news_buzz']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                             etf3_buzz_N
id
1998-01-02 14:00:00+00:00     67.000000
1998-01-02 15:00:00+00:00     67.000000
1998-01-02 16:00:00+00:00     67.000000
1998-01-02 17:00:00+00:00     67.000000
1998-01-02 18:00:00+00:00    412.500000
...                                 ...
2018-01-08 17:00:00+00:00  58817.500002
2018-01-08 18:00:00+00:00  62714.900003
2018-01-08 19:00:00+00:00  64827.100003
2018-01-08 20:00:00+00:00  68378.900003
2018-01-08 21:00:00+00:00  72703.200003

[39421 rows x 1 columns]

DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            etf3_buzz_N_open  etf3_buzz_N_high  \
id
2009-01-02 14:00:00+00:00      12277.400000      12277.400000
2009-01-02 15:00:00+00:00      12683.500000      12683.500000
2009-01-02 16:00:00+00:00      13698.500000      13698.500000
2009-01-02 17:00:00+00:00      14328.900000      14328.900000
2009-01-02 18:00:00+00:00      14496.300000      14496.300000
...                                     ...               ...
2017-12-29 17:00:00+00:00      86075.900005      86075.900005
2017-12-29 18:00:00+00:00      87371.200005      87371.200005
2017-12-29 19:00:00+00:00      87983.900005      87983.900005
2017-12-29 20:00:00+00:00      88932.500004      88932.500004
2017-12-29 21:00:00+00:00      89306.700005      89306.700005

                           etf3_buzz_N_low  etf3_buzz_N_close  \
id
2009-01-02 14:00:00+00:00     12277.400000       12277.400000
2009-01-02 15:00:00+00:00     12683.500000       12683.500000
2009-01-02 16:00:00+00:00     13698.500000       13698.500000
2009-01-02 17:00:00+00:00     14328.900000       14328.900000
2009-01-02 18:00:00+00:00     14496.300000       14496.300000
...                                    ...                ...
2017-12-29 17:00:00+00:00     86075.900005       86075.900005
2017-12-29 18:00:00+00:00     87371.200005       87371.200005
2017-12-29 19:00:00+00:00     87983.900005       87983.900005
2017-12-29 20:00:00+00:00     88932.500004       88932.500004
2017-12-29 21:00:00+00:00     89306.700005       89306.700005

                           etf3_buzz_N_avgPrice
id
2009-01-02 14:00:00+00:00          12277.400000
2009-01-02 15:00:00+00:00          12683.500000
2009-01-02 16:00:00+00:00          13698.500000
2009-01-02 17:00:00+00:00          14328.900000
2009-01-02 18:00:00+00:00          14496.300000
...                                         ...
2017-12-29 17:00:00+00:00          86075.900005
2017-12-29 18:00:00+00:00          87371.200005
2017-12-29 19:00:00+00:00          87983.900005
2017-12-29 20:00:00+00:00          88932.500004
2017-12-29 21:00:00+00:00          89306.700005

[17928 rows x 5 columns]
INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'trmi3_etf3_social_buzz']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                             etf3_buzz_S
id
1998-01-02 14:00:00+00:00   3675.400000
1998-01-02 15:00:00+00:00   3776.200000
1998-01-02 16:00:00+00:00   3943.700000
1998-01-02 17:00:00+00:00   4006.500000
1998-01-02 18:00:00+00:00   4124.600000
...                                 ...
2018-01-08 17:00:00+00:00  26123.100001
2018-01-08 18:00:00+00:00  28744.100002
2018-01-08 19:00:00+00:00  30492.000002
2018-01-08 20:00:00+00:00  32660.500002
2018-01-08 21:00:00+00:00  34713.600002

[39421 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            etf3_buzz_S_open  etf3_buzz_S_high  \
id
2009-01-02 14:00:00+00:00      10147.800000      10147.800000
2009-01-02 15:00:00+00:00      10697.400000      10697.400000
2009-01-02 16:00:00+00:00      11409.100000      11409.100000
2009-01-02 17:00:00+00:00      12434.700000      12434.700000
2009-01-02 18:00:00+00:00      13629.200000      13629.200000
...                                     ...               ...
2017-12-29 17:00:00+00:00      31463.400001      31463.400001
2017-12-29 18:00:00+00:00      32088.500001      32088.500001
2017-12-29 19:00:00+00:00      32248.300001      32248.300001
2017-12-29 20:00:00+00:00      31936.700001      31936.700001
2017-12-29 21:00:00+00:00      31690.700001      31690.700001

                           etf3_buzz_S_low  etf3_buzz_S_close  \
id
2009-01-02 14:00:00+00:00     10147.800000       10147.800000
2009-01-02 15:00:00+00:00     10697.400000       10697.400000
2009-01-02 16:00:00+00:00     11409.100000       11409.100000
2009-01-02 17:00:00+00:00     12434.700000       12434.700000
2009-01-02 18:00:00+00:00     13629.200000       13629.200000
...                                    ...                ...
2017-12-29 17:00:00+00:00     31463.400001       31463.400001
2017-12-29 18:00:00+00:00     32088.500001       32088.500001
2017-12-29 19:00:00+00:00     32248.300001       32248.300001
2017-12-29 20:00:00+00:00     31936.700001       31936.700001
2017-12-29 21:00:00+00:00     31690.700001       31690.700001

                           etf3_buzz_S_avgPrice
id
2009-01-02 14:00:00+00:00          10147.800000
2009-01-02 15:00:00+00:00          10697.400000
2009-01-02 16:00:00+00:00          11409.100000
2009-01-02 17:00:00+00:00          12434.700000
2009-01-02 18:00:00+00:00          13629.200000
...                                         ...
2017-12-29 17:00:00+00:00          31463.400001
2017-12-29 18:00:00+00:00          32088.500001
2017-12-29 19:00:00+00:00          32248.300001
2017-12-29 20:00:00+00:00          31936.700001
2017-12-29 21:00:00+00:00          31690.700001

[17928 rows x 5 columns]
INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_bondBuzz']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)

DEBUG:root:pre-runt:                            mkt3_bondBuzz_N
id
1998-01-02 14:00:00+00:00             59.0
1998-01-02 15:00:00+00:00             59.0
1998-01-02 16:00:00+00:00             59.0
1998-01-02 17:00:00+00:00             59.0
1998-01-02 18:00:00+00:00            333.0
...                                    ...
2018-01-08 17:00:00+00:00           1470.2
2018-01-08 18:00:00+00:00           1672.6
2018-01-08 19:00:00+00:00           1925.6
2018-01-08 20:00:00+00:00           2036.6
2018-01-08 21:00:00+00:00           2294.0

[39421 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_bondBuzz_N_open  mkt3_bondBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                1643.9                1643.9
2009-01-02 15:00:00+00:00                1915.3                1915.3
2009-01-02 16:00:00+00:00                2245.2                2245.2
2009-01-02 17:00:00+00:00                2481.6                2481.6
2009-01-02 18:00:00+00:00                2797.6                2797.6
...                                         ...                   ...
2017-12-29 17:00:00+00:00                2686.3                2686.3
2017-12-29 18:00:00+00:00                2569.8                2569.8
2017-12-29 19:00:00+00:00                2514.4                2514.4
2017-12-29 20:00:00+00:00                2473.8                2473.8
2017-12-29 21:00:00+00:00                2466.2                2466.2

                           mkt3_bondBuzz_N_low  mkt3_bondBuzz_N_close  \
id
2009-01-02 14:00:00+00:00               1643.9                 1643.9
2009-01-02 15:00:00+00:00               1915.3                 1915.3
2009-01-02 16:00:00+00:00               2245.2                 2245.2
2009-01-02 17:00:00+00:00               2481.6                 2481.6
2009-01-02 18:00:00+00:00               2797.6                 2797.6
...                                        ...                    ...
2017-12-29 17:00:00+00:00               2686.3                 2686.3
2017-12-29 18:00:00+00:00               2569.8                 2569.8
2017-12-29 19:00:00+00:00               2514.4                 2514.4
2017-12-29 20:00:00+00:00               2473.8                 2473.8
2017-12-29 21:00:00+00:00               2466.2                 2466.2

                           mkt3_bondBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                    1643.9
2009-01-02 15:00:00+00:00                    1915.3
2009-01-02 16:00:00+00:00                    2245.2
2009-01-02 17:00:00+00:00                    2481.6
2009-01-02 18:00:00+00:00                    2797.6
...                                             ...
2017-12-29 17:00:00+00:00                    2686.3
2017-12-29 18:00:00+00:00                    2569.8
2017-12-29 19:00:00+00:00                    2514.4
2017-12-29 20:00:00+00:00                    2473.8
2017-12-29 21:00:00+00:00                    2466.2

[17928 rows x 5 columns]
INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_ratesBuzz']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_ratesBuzz_N
id
1998-01-02 14:00:00+00:00              12.5
1998-01-02 15:00:00+00:00              12.5
1998-01-02 16:00:00+00:00              12.5
1998-01-02 17:00:00+00:00              12.5
1998-01-02 18:00:00+00:00              42.5
...                                     ...
2018-01-08 17:00:00+00:00            1826.0
2018-01-08 18:00:00+00:00            2001.0
2018-01-08 19:00:00+00:00            2078.0
2018-01-08 20:00:00+00:00            2209.5
2018-01-08 21:00:00+00:00            2433.5

[39421 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_ratesBuzz_N_open  mkt3_ratesBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                  753.5                  753.5
2009-01-02 15:00:00+00:00                  836.5                  836.5
2009-01-02 16:00:00+00:00                  865.5                  865.5
2009-01-02 17:00:00+00:00                  958.5                  958.5
2009-01-02 18:00:00+00:00                 1130.0                 1130.0
...                                          ...                    ...
2017-12-29 17:00:00+00:00                  927.0                  927.0
2017-12-29 18:00:00+00:00                  951.0                  951.0
2017-12-29 19:00:00+00:00                  943.0                  943.0
2017-12-29 20:00:00+00:00                  947.0                  947.0
2017-12-29 21:00:00+00:00                  946.5                  946.5

                           mkt3_ratesBuzz_N_low  mkt3_ratesBuzz_N_close  \
id
2009-01-02 14:00:00+00:00                 753.5                   753.5
2009-01-02 15:00:00+00:00                 836.5                   836.5
2009-01-02 16:00:00+00:00                 865.5                   865.5
2009-01-02 17:00:00+00:00                 958.5                   958.5
2009-01-02 18:00:00+00:00                1130.0                  1130.0
...                                         ...                     ...
2017-12-29 17:00:00+00:00                 927.0                   927.0
2017-12-29 18:00:00+00:00                 951.0                   951.0
2017-12-29 19:00:00+00:00                 943.0                   943.0
2017-12-29 20:00:00+00:00                 947.0                   947.0
2017-12-29 21:00:00+00:00                 946.5                   946.5

                           mkt3_ratesBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                      753.5
2009-01-02 15:00:00+00:00                      836.5
2009-01-02 16:00:00+00:00                      865.5
2009-01-02 17:00:00+00:00                      958.5
2009-01-02 18:00:00+00:00                     1130.0
...                                              ...
2017-12-29 17:00:00+00:00                      927.0
2017-12-29 18:00:00+00:00                      951.0
2017-12-29 19:00:00+00:00                      943.0
2017-12-29 20:00:00+00:00                      947.0
2017-12-29 21:00:00+00:00                      946.5

[17928 rows x 5 columns]

INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_stockIndexBuzz']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_stockIndexBuzz_N
id
1998-01-02 14:00:00+00:00              62.000000
1998-01-02 15:00:00+00:00              62.000000
1998-01-02 16:00:00+00:00              62.000000
1998-01-02 17:00:00+00:00              62.000000
1998-01-02 18:00:00+00:00             398.500000
...                                          ...
2018-01-08 17:00:00+00:00            7813.999999
2018-01-08 18:00:00+00:00            8511.199999
2018-01-08 19:00:00+00:00            9083.199999
2018-01-08 20:00:00+00:00            9465.199999
2018-01-08 21:00:00+00:00            9830.300000

[39421 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_stockIndexBuzz_N_open  \
id
2009-01-02 14:00:00+00:00                 2868.400000
2009-01-02 15:00:00+00:00                 3409.700000
2009-01-02 16:00:00+00:00                 3661.700000
2009-01-02 17:00:00+00:00                 4255.100000
2009-01-02 18:00:00+00:00                 5062.000000
...                                               ...
2017-12-29 17:00:00+00:00                 9071.500001
2017-12-29 18:00:00+00:00                 9153.200001
2017-12-29 19:00:00+00:00                 9144.000001
2017-12-29 20:00:00+00:00                 8812.000001
2017-12-29 21:00:00+00:00                 8793.500001

                           mkt3_stockIndexBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                 2868.400000
2009-01-02 15:00:00+00:00                 3409.700000
2009-01-02 16:00:00+00:00                 3661.700000
2009-01-02 17:00:00+00:00                 4255.100000
2009-01-02 18:00:00+00:00                 5062.000000
...                                               ...
2017-12-29 17:00:00+00:00                 9071.500001
2017-12-29 18:00:00+00:00                 9153.200001
2017-12-29 19:00:00+00:00                 9144.000001
2017-12-29 20:00:00+00:00                 8812.000001
2017-12-29 21:00:00+00:00                 8793.500001

                           mkt3_stockIndexBuzz_N_low  \
id
2009-01-02 14:00:00+00:00                2868.400000
2009-01-02 15:00:00+00:00                3409.700000
2009-01-02 16:00:00+00:00                3661.700000
2009-01-02 17:00:00+00:00                4255.100000
2009-01-02 18:00:00+00:00                5062.000000
...                                              ...
2017-12-29 17:00:00+00:00                9071.500001
2017-12-29 18:00:00+00:00                9153.200001
2017-12-29 19:00:00+00:00                9144.000001
2017-12-29 20:00:00+00:00                8812.000001
2017-12-29 21:00:00+00:00                8793.500001

                           mkt3_stockIndexBuzz_N_close  \
id
2009-01-02 14:00:00+00:00                  2868.400000
2009-01-02 15:00:00+00:00                  3409.700000
2009-01-02 16:00:00+00:00                  3661.700000
2009-01-02 17:00:00+00:00                  4255.100000
2009-01-02 18:00:00+00:00                  5062.000000
...                                                ...
2017-12-29 17:00:00+00:00                  9071.500001
2017-12-29 18:00:00+00:00                  9153.200001
2017-12-29 19:00:00+00:00                  9144.000001
2017-12-29 20:00:00+00:00                  8812.000001
2017-12-29 21:00:00+00:00                  8793.500001

                           mkt3_stockIndexBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                     2868.400000
2009-01-02 15:00:00+00:00                     3409.700000
2009-01-02 16:00:00+00:00                     3661.700000
2009-01-02 17:00:00+00:00                     4255.100000
2009-01-02 18:00:00+00:00                     5062.000000
...                                                   ...
2017-12-29 17:00:00+00:00                     9071.500001
2017-12-29 18:00:00+00:00                     9153.200001
2017-12-29 19:00:00+00:00                     9144.000001
2017-12-29 20:00:00+00:00                     8812.000001
2017-12-29 21:00:00+00:00                     8793.500001

[17928 rows x 5 columns]
INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_bondBuzz']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_bondBuzz_S
id
1998-01-02 14:00:00+00:00              0.0
1998-01-02 15:00:00+00:00              0.0
1998-01-02 16:00:00+00:00              7.0
1998-01-02 17:00:00+00:00              7.0
1998-01-02 18:00:00+00:00              7.0
...                                    ...
2018-01-08 17:00:00+00:00            310.5
2018-01-08 18:00:00+00:00            370.5
2018-01-08 19:00:00+00:00            412.0
2018-01-08 20:00:00+00:00            534.0
2018-01-08 21:00:00+00:00            545.5

[39421 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_bondBuzz_S_open  mkt3_bondBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                 300.2                 300.2
2009-01-02 15:00:00+00:00                 299.2                 299.2
2009-01-02 16:00:00+00:00                 291.2                 291.2
2009-01-02 17:00:00+00:00                 288.2                 288.2
2009-01-02 18:00:00+00:00                 314.7                 314.7
...                                         ...                   ...
2017-12-29 17:00:00+00:00                 508.0                 508.0
2017-12-29 18:00:00+00:00                 492.5                 492.5
2017-12-29 19:00:00+00:00                 453.5                 453.5
2017-12-29 20:00:00+00:00                 402.0                 402.0
2017-12-29 21:00:00+00:00                 376.5                 376.5

                           mkt3_bondBuzz_S_low  mkt3_bondBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                300.2                  300.2
2009-01-02 15:00:00+00:00                299.2                  299.2
2009-01-02 16:00:00+00:00                291.2                  291.2
2009-01-02 17:00:00+00:00                288.2                  288.2
2009-01-02 18:00:00+00:00                314.7                  314.7
...                                        ...                    ...
2017-12-29 17:00:00+00:00                508.0                  508.0
2017-12-29 18:00:00+00:00                492.5                  492.5
2017-12-29 19:00:00+00:00                453.5                  453.5
2017-12-29 20:00:00+00:00                402.0                  402.0
2017-12-29 21:00:00+00:00                376.5                  376.5

                           mkt3_bondBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                     300.2
2009-01-02 15:00:00+00:00                     299.2
2009-01-02 16:00:00+00:00                     291.2
2009-01-02 17:00:00+00:00                     288.2
2009-01-02 18:00:00+00:00                     314.7
...                                             ...
2017-12-29 17:00:00+00:00                     508.0
2017-12-29 18:00:00+00:00                     492.5
2017-12-29 19:00:00+00:00                     453.5
2017-12-29 20:00:00+00:00                     402.0
2017-12-29 21:00:00+00:00                     376.5

[17928 rows x 5 columns]

INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_ratesBuzz']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_ratesBuzz_S
id
1998-01-02 14:00:00+00:00               4.0
1998-01-02 15:00:00+00:00               4.0
1998-01-02 16:00:00+00:00               4.0
1998-01-02 17:00:00+00:00               4.0
1998-01-02 18:00:00+00:00               1.0
...                                     ...
2018-01-08 17:00:00+00:00             233.0
2018-01-08 18:00:00+00:00             254.5
2018-01-08 19:00:00+00:00             294.5
2018-01-08 20:00:00+00:00             311.0
2018-01-08 21:00:00+00:00             338.5

[39421 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_ratesBuzz_S_open  mkt3_ratesBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                  225.5                  225.5
2009-01-02 15:00:00+00:00                  225.5                  225.5
2009-01-02 16:00:00+00:00                  219.5                  219.5
2009-01-02 17:00:00+00:00                  233.5                  233.5
2009-01-02 18:00:00+00:00                  221.5                  221.5
...                                          ...                    ...
2017-12-29 17:00:00+00:00                  247.5                  247.5
2017-12-29 18:00:00+00:00                  244.5                  244.5
2017-12-29 19:00:00+00:00                  242.5                  242.5
2017-12-29 20:00:00+00:00                  222.5                  222.5
2017-12-29 21:00:00+00:00                  224.0                  224.0

                           mkt3_ratesBuzz_S_low  mkt3_ratesBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                 225.5                   225.5
2009-01-02 15:00:00+00:00                 225.5                   225.5
2009-01-02 16:00:00+00:00                 219.5                   219.5
2009-01-02 17:00:00+00:00                 233.5                   233.5
2009-01-02 18:00:00+00:00                 221.5                   221.5
...                                         ...                     ...
2017-12-29 17:00:00+00:00                 247.5                   247.5
2017-12-29 18:00:00+00:00                 244.5                   244.5
2017-12-29 19:00:00+00:00                 242.5                   242.5
2017-12-29 20:00:00+00:00                 222.5                   222.5
2017-12-29 21:00:00+00:00                 224.0                   224.0

                           mkt3_ratesBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                      225.5
2009-01-02 15:00:00+00:00                      225.5
2009-01-02 16:00:00+00:00                      219.5
2009-01-02 17:00:00+00:00                      233.5
2009-01-02 18:00:00+00:00                      221.5
...                                              ...
2017-12-29 17:00:00+00:00                      247.5
2017-12-29 18:00:00+00:00                      244.5
2017-12-29 19:00:00+00:00                      242.5
2017-12-29 20:00:00+00:00                      222.5
2017-12-29 21:00:00+00:00                      224.0

[17928 rows x 5 columns]
INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_stockIndexBuzz']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_stockIndexBuzz_S
id
1998-01-02 14:00:00+00:00                   19.0
1998-01-02 15:00:00+00:00                   30.0
1998-01-02 16:00:00+00:00                   31.0
1998-01-02 17:00:00+00:00                   48.0
1998-01-02 18:00:00+00:00                   48.0
...                                          ...
2018-01-08 17:00:00+00:00                 1548.0
2018-01-08 18:00:00+00:00                 1633.1
2018-01-08 19:00:00+00:00                 1899.6
2018-01-08 20:00:00+00:00                 2016.9
2018-01-08 21:00:00+00:00                 2157.1

[39421 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_stockIndexBuzz_S_open  \
id
2009-01-02 14:00:00+00:00                       716.1
2009-01-02 15:00:00+00:00                       714.6
2009-01-02 16:00:00+00:00                       755.0
2009-01-02 17:00:00+00:00                       809.5
2009-01-02 18:00:00+00:00                      1008.3
...                                               ...
2017-12-29 17:00:00+00:00                      1159.5
2017-12-29 18:00:00+00:00                      1198.0
2017-12-29 19:00:00+00:00                      1257.0
2017-12-29 20:00:00+00:00                      1472.0
2017-12-29 21:00:00+00:00                      1547.9

                           mkt3_stockIndexBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                       716.1
2009-01-02 15:00:00+00:00                       714.6
2009-01-02 16:00:00+00:00                       755.0
2009-01-02 17:00:00+00:00                       809.5
2009-01-02 18:00:00+00:00                      1008.3
...                                               ...
2017-12-29 17:00:00+00:00                      1159.5
2017-12-29 18:00:00+00:00                      1198.0
2017-12-29 19:00:00+00:00                      1257.0
2017-12-29 20:00:00+00:00                      1472.0
2017-12-29 21:00:00+00:00                      1547.9

                           mkt3_stockIndexBuzz_S_low  \
id
2009-01-02 14:00:00+00:00                      716.1
2009-01-02 15:00:00+00:00                      714.6
2009-01-02 16:00:00+00:00                      755.0
2009-01-02 17:00:00+00:00                      809.5
2009-01-02 18:00:00+00:00                     1008.3
...                                              ...
2017-12-29 17:00:00+00:00                     1159.5
2017-12-29 18:00:00+00:00                     1198.0
2017-12-29 19:00:00+00:00                     1257.0
2017-12-29 20:00:00+00:00                     1472.0
2017-12-29 21:00:00+00:00                     1547.9

                           mkt3_stockIndexBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                        716.1
2009-01-02 15:00:00+00:00                        714.6
2009-01-02 16:00:00+00:00                        755.0
2009-01-02 17:00:00+00:00                        809.5
2009-01-02 18:00:00+00:00                       1008.3
...                                                ...
2017-12-29 17:00:00+00:00                       1159.5
2017-12-29 18:00:00+00:00                       1198.0
2017-12-29 19:00:00+00:00                       1257.0
2017-12-29 20:00:00+00:00                       1472.0
2017-12-29 21:00:00+00:00                       1547.9

                           mkt3_stockIndexBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                           716.1
2009-01-02 15:00:00+00:00                           714.6
2009-01-02 16:00:00+00:00                           755.0
2009-01-02 17:00:00+00:00                           809.5
2009-01-02 18:00:00+00:00                          1008.3
...                                                   ...
2017-12-29 17:00:00+00:00                          1159.5
2017-12-29 18:00:00+00:00                          1198.0
2017-12-29 19:00:00+00:00                          1257.0
2017-12-29 20:00:00+00:00                          1472.0
2017-12-29 21:00:00+00:00                          1547.9

[17928 rows x 5 columns]

INFO:root:data: ['nasdaq_100', 'root', 'root_split_ohlca', 'join', 'vol']
DEBUG:root:rm_match: [['nasdaq_100', 'hrm', 'hrm', 'vol', 'vol']]
DEBUG:root:pre-runt:                            vol_open  vol_high  vol_low  vol_close  \
id
2001-01-23 14:00:00+00:00     65.99     66.10    65.27      65.37
2001-01-23 15:00:00+00:00     65.09     65.25    63.78      63.89
2001-01-23 16:00:00+00:00     63.98     63.98    62.72      63.21
2001-01-23 17:00:00+00:00     63.22     63.22    62.03      62.31
2001-01-23 18:00:00+00:00     62.32     62.64    61.52      61.52
...                             ...       ...      ...        ...
2018-01-08 17:00:00+00:00     14.04     14.05    13.98      13.99
2018-01-08 18:00:00+00:00     13.99     13.99    13.91      13.92
2018-01-08 19:00:00+00:00     13.93     13.95    13.89      13.95
2018-01-08 20:00:00+00:00     13.94     13.94    13.75      13.81
2018-01-08 21:00:00+00:00     13.81     13.85    13.79      13.84

                           vol_avgPrice
id
2001-01-23 14:00:00+00:00       65.7267
2001-01-23 15:00:00+00:00       64.5735
2001-01-23 16:00:00+00:00       63.1817
2001-01-23 17:00:00+00:00       62.3415
2001-01-23 18:00:00+00:00       62.0150
...                                 ...
2018-01-08 17:00:00+00:00       14.0027
2018-01-08 18:00:00+00:00       13.9290
2018-01-08 19:00:00+00:00       13.9185
2018-01-08 20:00:00+00:00       13.9007
2018-01-08 21:00:00+00:00       13.8262

[33161 rows x 5 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            vol_open  vol_high  vol_low  vol_close  \
id
2009-01-02 14:00:00+00:00     41.23     41.29    40.88      41.12
2009-01-02 15:00:00+00:00     41.14     41.15    39.82      39.82
2009-01-02 16:00:00+00:00     39.82     40.20    39.76      39.79
2009-01-02 17:00:00+00:00     39.80     39.95    39.46      39.58
2009-01-02 18:00:00+00:00     39.58     39.59    39.25      39.35
...                             ...       ...      ...        ...
2017-12-29 17:00:00+00:00     15.15     15.15    15.00      15.06
2017-12-29 18:00:00+00:00     15.06     15.30    15.06      15.30
2017-12-29 19:00:00+00:00     15.30     15.33    15.29      15.29
2017-12-29 20:00:00+00:00     15.29     15.62    15.25      15.62
2017-12-29 21:00:00+00:00     15.57     15.89    15.48      15.68

                           vol_avgPrice
id
2009-01-02 14:00:00+00:00       41.0632
2009-01-02 15:00:00+00:00       40.6498
2009-01-02 16:00:00+00:00       39.9891
2009-01-02 17:00:00+00:00       39.7555
2009-01-02 18:00:00+00:00       39.4073
...                                 ...
2017-12-29 17:00:00+00:00       15.0663
2017-12-29 18:00:00+00:00       15.1512
2017-12-29 19:00:00+00:00       15.3098
2017-12-29 20:00:00+00:00       15.3294
2017-12-29 21:00:00+00:00       15.7277

[18014 rows x 5 columns]
INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'pba']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'pba', 'pba']]
DEBUG:root:pre-runt:                             pba_open   pba_high    pba_low  pba_close  \
id
1996-01-02 14:00:00+00:00   315.9700   315.9700   314.7200   314.7500
1996-01-02 15:00:00+00:00   314.7200   315.2900   314.6800   315.2800
1996-01-02 16:00:00+00:00   315.3100   315.4900   314.8400   314.8900
1996-01-02 17:00:00+00:00   314.8900   314.9600   314.7600   314.8700
1996-01-02 18:00:00+00:00   314.8600   315.2200   314.8300   315.1400
...                              ...        ...        ...        ...
2018-01-08 17:00:00+00:00  1555.3049  1558.2067  1555.3049  1558.2067
2018-01-08 18:00:00+00:00  1558.2186  1561.7482  1558.2186  1561.6385
2018-01-08 19:00:00+00:00  1561.6467  1562.8080  1561.6467  1562.7438
2018-01-08 20:00:00+00:00  1562.7358  1562.9872  1561.8650  1562.0056
2018-01-08 21:00:00+00:00  1562.0165  1562.0165  1561.7600  1561.8081

                           pba_avgPrice
id
1996-01-02 14:00:00+00:00      315.2594
1996-01-02 15:00:00+00:00      315.0755
1996-01-02 16:00:00+00:00      315.1048
1996-01-02 17:00:00+00:00      314.8732
1996-01-02 18:00:00+00:00      315.1353
...                                 ...
2018-01-08 17:00:00+00:00     1556.8731
2018-01-08 18:00:00+00:00     1560.7032
2018-01-08 19:00:00+00:00     1562.4006
2018-01-08 20:00:00+00:00     1562.5594
2018-01-08 21:00:00+00:00     1561.8007

[43754 rows x 5 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                             pba_open   pba_high    pba_low  pba_close  \
id
2009-01-02 14:00:00+00:00   499.5100   500.6400   495.2700   495.5600
2009-01-02 15:00:00+00:00   495.4500   504.4700   494.7400   504.4700
2009-01-02 16:00:00+00:00   504.5900   504.7000   502.2400   502.8200
2009-01-02 17:00:00+00:00   502.7400   505.0000   502.6600   503.9400
2009-01-02 18:00:00+00:00   503.9900   506.0900   503.9900   505.4900
...                              ...        ...        ...        ...
2017-12-29 17:00:00+00:00  1546.6045  1547.5979  1546.2538  1546.6390
2017-12-29 18:00:00+00:00  1546.6499  1547.7697  1545.8218  1545.9734
2017-12-29 19:00:00+00:00  1545.9730  1545.9730  1542.2753  1542.2753
2017-12-29 20:00:00+00:00  1542.2765  1543.1239  1536.0876  1536.0952
2017-12-29 21:00:00+00:00  1535.9908  1535.9908  1535.5052  1535.5112

                           pba_avgPrice
id
2009-01-02 14:00:00+00:00      498.9440
2009-01-02 15:00:00+00:00      499.9742
2009-01-02 16:00:00+00:00      503.3020
2009-01-02 17:00:00+00:00      503.6638
2009-01-02 18:00:00+00:00      505.4386
...                                 ...
2017-12-29 17:00:00+00:00     1547.0537
2017-12-29 18:00:00+00:00     1546.8363
2017-12-29 19:00:00+00:00     1544.0050
2017-12-29 20:00:00+00:00     1541.2710
2017-12-29 21:00:00+00:00     1535.5370

[18048 rows x 5 columns]
INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'trmi3_etf3_news_buzz']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                             etf3_buzz_N
id
1998-01-02 14:00:00+00:00     97.000000
1998-01-02 15:00:00+00:00     97.000000
1998-01-02 16:00:00+00:00     97.000000
1998-01-02 17:00:00+00:00     97.000000
1998-01-02 18:00:00+00:00    190.600000
...                                 ...
2018-01-08 17:00:00+00:00  31364.900001
2018-01-08 18:00:00+00:00  33598.600001
2018-01-08 19:00:00+00:00  36222.900001
2018-01-08 20:00:00+00:00  38495.600002
2018-01-08 21:00:00+00:00  39501.800002

[39844 rows x 1 columns]

DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            etf3_buzz_N_open  etf3_buzz_N_high  \
id
2009-01-02 14:00:00+00:00       4451.600000       4451.600000
2009-01-02 15:00:00+00:00       5205.900000       5205.900000
2009-01-02 16:00:00+00:00       6228.900000       6228.900000
2009-01-02 17:00:00+00:00       7497.300000       7497.300000
2009-01-02 18:00:00+00:00       8476.800000       8476.800000
...                                     ...               ...
2017-12-29 17:00:00+00:00      19031.900001      19031.900001
2017-12-29 18:00:00+00:00      19369.000002      19369.000002
2017-12-29 19:00:00+00:00      18198.500002      18198.500002
2017-12-29 20:00:00+00:00      18458.200002      18458.200002
2017-12-29 21:00:00+00:00      18950.000002      18950.000002

                           etf3_buzz_N_low  etf3_buzz_N_close  \
id
2009-01-02 14:00:00+00:00      4451.600000        4451.600000
2009-01-02 15:00:00+00:00      5205.900000        5205.900000
2009-01-02 16:00:00+00:00      6228.900000        6228.900000
2009-01-02 17:00:00+00:00      7497.300000        7497.300000
2009-01-02 18:00:00+00:00      8476.800000        8476.800000
...                                    ...                ...
2017-12-29 17:00:00+00:00     19031.900001       19031.900001
2017-12-29 18:00:00+00:00     19369.000002       19369.000002
2017-12-29 19:00:00+00:00     18198.500002       18198.500002
2017-12-29 20:00:00+00:00     18458.200002       18458.200002
2017-12-29 21:00:00+00:00     18950.000002       18950.000002

                           etf3_buzz_N_avgPrice
id
2009-01-02 14:00:00+00:00           4451.600000
2009-01-02 15:00:00+00:00           5205.900000
2009-01-02 16:00:00+00:00           6228.900000
2009-01-02 17:00:00+00:00           7497.300000
2009-01-02 18:00:00+00:00           8476.800000
...                                         ...
2017-12-29 17:00:00+00:00          19031.900001
2017-12-29 18:00:00+00:00          19369.000002
2017-12-29 19:00:00+00:00          18198.500002
2017-12-29 20:00:00+00:00          18458.200002
2017-12-29 21:00:00+00:00          18950.000002

[18048 rows x 5 columns]
INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'trmi3_etf3_social_buzz']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                             etf3_buzz_S
id
1998-01-02 14:00:00+00:00   1535.100000
1998-01-02 15:00:00+00:00   1770.600000
1998-01-02 16:00:00+00:00   1924.600000
1998-01-02 17:00:00+00:00   2142.600000
1998-01-02 18:00:00+00:00   2239.600000
...                                 ...
2018-01-08 17:00:00+00:00  20458.900001
2018-01-08 18:00:00+00:00  22454.900001
2018-01-08 19:00:00+00:00  24797.000001
2018-01-08 20:00:00+00:00  27457.300001
2018-01-08 21:00:00+00:00  30339.900001

[39844 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            etf3_buzz_S_open  etf3_buzz_S_high  \
id
2009-01-02 14:00:00+00:00      19557.800000      19557.800000
2009-01-02 15:00:00+00:00      21203.400000      21203.400000
2009-01-02 16:00:00+00:00      24151.700000      24151.700000
2009-01-02 17:00:00+00:00      26861.000000      26861.000000
2009-01-02 18:00:00+00:00      30033.000000      30033.000000
...                                     ...               ...
2017-12-29 17:00:00+00:00      35822.800001      35822.800001
2017-12-29 18:00:00+00:00      35722.200001      35722.200001
2017-12-29 19:00:00+00:00      35915.700001      35915.700001
2017-12-29 20:00:00+00:00      36284.400001      36284.400001
2017-12-29 21:00:00+00:00      37562.300001      37562.300001

                           etf3_buzz_S_low  etf3_buzz_S_close  \
id
2009-01-02 14:00:00+00:00     19557.800000       19557.800000
2009-01-02 15:00:00+00:00     21203.400000       21203.400000
2009-01-02 16:00:00+00:00     24151.700000       24151.700000
2009-01-02 17:00:00+00:00     26861.000000       26861.000000
2009-01-02 18:00:00+00:00     30033.000000       30033.000000
...                                    ...                ...
2017-12-29 17:00:00+00:00     35822.800001       35822.800001
2017-12-29 18:00:00+00:00     35722.200001       35722.200001
2017-12-29 19:00:00+00:00     35915.700001       35915.700001
2017-12-29 20:00:00+00:00     36284.400001       36284.400001
2017-12-29 21:00:00+00:00     37562.300001       37562.300001

                           etf3_buzz_S_avgPrice
id
2009-01-02 14:00:00+00:00          19557.800000
2009-01-02 15:00:00+00:00          21203.400000
2009-01-02 16:00:00+00:00          24151.700000
2009-01-02 17:00:00+00:00          26861.000000
2009-01-02 18:00:00+00:00          30033.000000
...                                         ...
2017-12-29 17:00:00+00:00          35822.800001
2017-12-29 18:00:00+00:00          35722.200001
2017-12-29 19:00:00+00:00          35915.700001
2017-12-29 20:00:00+00:00          36284.400001
2017-12-29 21:00:00+00:00          37562.300001

[18048 rows x 5 columns]
INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_bondBuzz']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)

DEBUG:root:pre-runt:                            mkt3_bondBuzz_N
id
1998-01-02 14:00:00+00:00             59.0
1998-01-02 15:00:00+00:00             59.0
1998-01-02 16:00:00+00:00             59.0
1998-01-02 17:00:00+00:00             59.0
1998-01-02 18:00:00+00:00            333.0
...                                    ...
2018-01-08 17:00:00+00:00           1470.2
2018-01-08 18:00:00+00:00           1672.6
2018-01-08 19:00:00+00:00           1925.6
2018-01-08 20:00:00+00:00           2036.6
2018-01-08 21:00:00+00:00           2294.0

[39844 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_bondBuzz_N_open  mkt3_bondBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                1643.9                1643.9
2009-01-02 15:00:00+00:00                1915.3                1915.3
2009-01-02 16:00:00+00:00                2245.2                2245.2
2009-01-02 17:00:00+00:00                2481.6                2481.6
2009-01-02 18:00:00+00:00                2797.6                2797.6
...                                         ...                   ...
2017-12-29 17:00:00+00:00                2686.3                2686.3
2017-12-29 18:00:00+00:00                2569.8                2569.8
2017-12-29 19:00:00+00:00                2514.4                2514.4
2017-12-29 20:00:00+00:00                2473.8                2473.8
2017-12-29 21:00:00+00:00                2466.2                2466.2

                           mkt3_bondBuzz_N_low  mkt3_bondBuzz_N_close  \
id
2009-01-02 14:00:00+00:00               1643.9                 1643.9
2009-01-02 15:00:00+00:00               1915.3                 1915.3
2009-01-02 16:00:00+00:00               2245.2                 2245.2
2009-01-02 17:00:00+00:00               2481.6                 2481.6
2009-01-02 18:00:00+00:00               2797.6                 2797.6
...                                        ...                    ...
2017-12-29 17:00:00+00:00               2686.3                 2686.3
2017-12-29 18:00:00+00:00               2569.8                 2569.8
2017-12-29 19:00:00+00:00               2514.4                 2514.4
2017-12-29 20:00:00+00:00               2473.8                 2473.8
2017-12-29 21:00:00+00:00               2466.2                 2466.2

                           mkt3_bondBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                    1643.9
2009-01-02 15:00:00+00:00                    1915.3
2009-01-02 16:00:00+00:00                    2245.2
2009-01-02 17:00:00+00:00                    2481.6
2009-01-02 18:00:00+00:00                    2797.6
...                                             ...
2017-12-29 17:00:00+00:00                    2686.3
2017-12-29 18:00:00+00:00                    2569.8
2017-12-29 19:00:00+00:00                    2514.4
2017-12-29 20:00:00+00:00                    2473.8
2017-12-29 21:00:00+00:00                    2466.2

[18048 rows x 5 columns]
INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_ratesBuzz']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_ratesBuzz_N
id
1998-01-02 14:00:00+00:00              12.5
1998-01-02 15:00:00+00:00              12.5
1998-01-02 16:00:00+00:00              12.5
1998-01-02 17:00:00+00:00              12.5
1998-01-02 18:00:00+00:00              42.5
...                                     ...
2018-01-08 17:00:00+00:00            1826.0
2018-01-08 18:00:00+00:00            2001.0
2018-01-08 19:00:00+00:00            2078.0
2018-01-08 20:00:00+00:00            2209.5
2018-01-08 21:00:00+00:00            2433.5

[39844 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_ratesBuzz_N_open  mkt3_ratesBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                  753.5                  753.5
2009-01-02 15:00:00+00:00                  836.5                  836.5
2009-01-02 16:00:00+00:00                  865.5                  865.5
2009-01-02 17:00:00+00:00                  958.5                  958.5
2009-01-02 18:00:00+00:00                 1130.0                 1130.0
...                                          ...                    ...
2017-12-29 17:00:00+00:00                  927.0                  927.0
2017-12-29 18:00:00+00:00                  951.0                  951.0
2017-12-29 19:00:00+00:00                  943.0                  943.0
2017-12-29 20:00:00+00:00                  947.0                  947.0
2017-12-29 21:00:00+00:00                  946.5                  946.5

                           mkt3_ratesBuzz_N_low  mkt3_ratesBuzz_N_close  \
id
2009-01-02 14:00:00+00:00                 753.5                   753.5
2009-01-02 15:00:00+00:00                 836.5                   836.5
2009-01-02 16:00:00+00:00                 865.5                   865.5
2009-01-02 17:00:00+00:00                 958.5                   958.5
2009-01-02 18:00:00+00:00                1130.0                  1130.0
...                                         ...                     ...
2017-12-29 17:00:00+00:00                 927.0                   927.0
2017-12-29 18:00:00+00:00                 951.0                   951.0
2017-12-29 19:00:00+00:00                 943.0                   943.0
2017-12-29 20:00:00+00:00                 947.0                   947.0
2017-12-29 21:00:00+00:00                 946.5                   946.5

                           mkt3_ratesBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                      753.5
2009-01-02 15:00:00+00:00                      836.5
2009-01-02 16:00:00+00:00                      865.5
2009-01-02 17:00:00+00:00                      958.5
2009-01-02 18:00:00+00:00                     1130.0
...                                              ...
2017-12-29 17:00:00+00:00                      927.0
2017-12-29 18:00:00+00:00                      951.0
2017-12-29 19:00:00+00:00                      943.0
2017-12-29 20:00:00+00:00                      947.0
2017-12-29 21:00:00+00:00                      946.5

[18048 rows x 5 columns]

INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_stockIndexBuzz']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_stockIndexBuzz_N
id
1998-01-02 14:00:00+00:00              62.000000
1998-01-02 15:00:00+00:00              62.000000
1998-01-02 16:00:00+00:00              62.000000
1998-01-02 17:00:00+00:00              62.000000
1998-01-02 18:00:00+00:00             398.500000
...                                          ...
2018-01-08 17:00:00+00:00            7813.999999
2018-01-08 18:00:00+00:00            8511.199999
2018-01-08 19:00:00+00:00            9083.199999
2018-01-08 20:00:00+00:00            9465.199999
2018-01-08 21:00:00+00:00            9830.300000

[39844 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_stockIndexBuzz_N_open  \
id
2009-01-02 14:00:00+00:00                 2868.400000
2009-01-02 15:00:00+00:00                 3409.700000
2009-01-02 16:00:00+00:00                 3661.700000
2009-01-02 17:00:00+00:00                 4255.100000
2009-01-02 18:00:00+00:00                 5062.000000
...                                               ...
2017-12-29 17:00:00+00:00                 9071.500001
2017-12-29 18:00:00+00:00                 9153.200001
2017-12-29 19:00:00+00:00                 9144.000001
2017-12-29 20:00:00+00:00                 8812.000001
2017-12-29 21:00:00+00:00                 8793.500001

                           mkt3_stockIndexBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                 2868.400000
2009-01-02 15:00:00+00:00                 3409.700000
2009-01-02 16:00:00+00:00                 3661.700000
2009-01-02 17:00:00+00:00                 4255.100000
2009-01-02 18:00:00+00:00                 5062.000000
...                                               ...
2017-12-29 17:00:00+00:00                 9071.500001
2017-12-29 18:00:00+00:00                 9153.200001
2017-12-29 19:00:00+00:00                 9144.000001
2017-12-29 20:00:00+00:00                 8812.000001
2017-12-29 21:00:00+00:00                 8793.500001

                           mkt3_stockIndexBuzz_N_low  \
id
2009-01-02 14:00:00+00:00                2868.400000
2009-01-02 15:00:00+00:00                3409.700000
2009-01-02 16:00:00+00:00                3661.700000
2009-01-02 17:00:00+00:00                4255.100000
2009-01-02 18:00:00+00:00                5062.000000
...                                              ...
2017-12-29 17:00:00+00:00                9071.500001
2017-12-29 18:00:00+00:00                9153.200001
2017-12-29 19:00:00+00:00                9144.000001
2017-12-29 20:00:00+00:00                8812.000001
2017-12-29 21:00:00+00:00                8793.500001

                           mkt3_stockIndexBuzz_N_close  \
id
2009-01-02 14:00:00+00:00                  2868.400000
2009-01-02 15:00:00+00:00                  3409.700000
2009-01-02 16:00:00+00:00                  3661.700000
2009-01-02 17:00:00+00:00                  4255.100000
2009-01-02 18:00:00+00:00                  5062.000000
...                                                ...
2017-12-29 17:00:00+00:00                  9071.500001
2017-12-29 18:00:00+00:00                  9153.200001
2017-12-29 19:00:00+00:00                  9144.000001
2017-12-29 20:00:00+00:00                  8812.000001
2017-12-29 21:00:00+00:00                  8793.500001

                           mkt3_stockIndexBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                     2868.400000
2009-01-02 15:00:00+00:00                     3409.700000
2009-01-02 16:00:00+00:00                     3661.700000
2009-01-02 17:00:00+00:00                     4255.100000
2009-01-02 18:00:00+00:00                     5062.000000
...                                                   ...
2017-12-29 17:00:00+00:00                     9071.500001
2017-12-29 18:00:00+00:00                     9153.200001
2017-12-29 19:00:00+00:00                     9144.000001
2017-12-29 20:00:00+00:00                     8812.000001
2017-12-29 21:00:00+00:00                     8793.500001

[18048 rows x 5 columns]
INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_bondBuzz']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_bondBuzz_S
id
1998-01-02 14:00:00+00:00              0.0
1998-01-02 15:00:00+00:00              0.0
1998-01-02 16:00:00+00:00              7.0
1998-01-02 17:00:00+00:00              7.0
1998-01-02 18:00:00+00:00              7.0
...                                    ...
2018-01-08 17:00:00+00:00            310.5
2018-01-08 18:00:00+00:00            370.5
2018-01-08 19:00:00+00:00            412.0
2018-01-08 20:00:00+00:00            534.0
2018-01-08 21:00:00+00:00            545.5

[39844 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_bondBuzz_S_open  mkt3_bondBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                 300.2                 300.2
2009-01-02 15:00:00+00:00                 299.2                 299.2
2009-01-02 16:00:00+00:00                 291.2                 291.2
2009-01-02 17:00:00+00:00                 288.2                 288.2
2009-01-02 18:00:00+00:00                 314.7                 314.7
...                                         ...                   ...
2017-12-29 17:00:00+00:00                 508.0                 508.0
2017-12-29 18:00:00+00:00                 492.5                 492.5
2017-12-29 19:00:00+00:00                 453.5                 453.5
2017-12-29 20:00:00+00:00                 402.0                 402.0
2017-12-29 21:00:00+00:00                 376.5                 376.5

                           mkt3_bondBuzz_S_low  mkt3_bondBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                300.2                  300.2
2009-01-02 15:00:00+00:00                299.2                  299.2
2009-01-02 16:00:00+00:00                291.2                  291.2
2009-01-02 17:00:00+00:00                288.2                  288.2
2009-01-02 18:00:00+00:00                314.7                  314.7
...                                        ...                    ...
2017-12-29 17:00:00+00:00                508.0                  508.0
2017-12-29 18:00:00+00:00                492.5                  492.5
2017-12-29 19:00:00+00:00                453.5                  453.5
2017-12-29 20:00:00+00:00                402.0                  402.0
2017-12-29 21:00:00+00:00                376.5                  376.5

                           mkt3_bondBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                     300.2
2009-01-02 15:00:00+00:00                     299.2
2009-01-02 16:00:00+00:00                     291.2
2009-01-02 17:00:00+00:00                     288.2
2009-01-02 18:00:00+00:00                     314.7
...                                             ...
2017-12-29 17:00:00+00:00                     508.0
2017-12-29 18:00:00+00:00                     492.5
2017-12-29 19:00:00+00:00                     453.5
2017-12-29 20:00:00+00:00                     402.0
2017-12-29 21:00:00+00:00                     376.5

[18048 rows x 5 columns]

INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_ratesBuzz']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_ratesBuzz_S
id
1998-01-02 14:00:00+00:00               4.0
1998-01-02 15:00:00+00:00               4.0
1998-01-02 16:00:00+00:00               4.0
1998-01-02 17:00:00+00:00               4.0
1998-01-02 18:00:00+00:00               1.0
...                                     ...
2018-01-08 17:00:00+00:00             233.0
2018-01-08 18:00:00+00:00             254.5
2018-01-08 19:00:00+00:00             294.5
2018-01-08 20:00:00+00:00             311.0
2018-01-08 21:00:00+00:00             338.5

[39844 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_ratesBuzz_S_open  mkt3_ratesBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                  225.5                  225.5
2009-01-02 15:00:00+00:00                  225.5                  225.5
2009-01-02 16:00:00+00:00                  219.5                  219.5
2009-01-02 17:00:00+00:00                  233.5                  233.5
2009-01-02 18:00:00+00:00                  221.5                  221.5
...                                          ...                    ...
2017-12-29 17:00:00+00:00                  247.5                  247.5
2017-12-29 18:00:00+00:00                  244.5                  244.5
2017-12-29 19:00:00+00:00                  242.5                  242.5
2017-12-29 20:00:00+00:00                  222.5                  222.5
2017-12-29 21:00:00+00:00                  224.0                  224.0

                           mkt3_ratesBuzz_S_low  mkt3_ratesBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                 225.5                   225.5
2009-01-02 15:00:00+00:00                 225.5                   225.5
2009-01-02 16:00:00+00:00                 219.5                   219.5
2009-01-02 17:00:00+00:00                 233.5                   233.5
2009-01-02 18:00:00+00:00                 221.5                   221.5
...                                         ...                     ...
2017-12-29 17:00:00+00:00                 247.5                   247.5
2017-12-29 18:00:00+00:00                 244.5                   244.5
2017-12-29 19:00:00+00:00                 242.5                   242.5
2017-12-29 20:00:00+00:00                 222.5                   222.5
2017-12-29 21:00:00+00:00                 224.0                   224.0

                           mkt3_ratesBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                      225.5
2009-01-02 15:00:00+00:00                      225.5
2009-01-02 16:00:00+00:00                      219.5
2009-01-02 17:00:00+00:00                      233.5
2009-01-02 18:00:00+00:00                      221.5
...                                              ...
2017-12-29 17:00:00+00:00                      247.5
2017-12-29 18:00:00+00:00                      244.5
2017-12-29 19:00:00+00:00                      242.5
2017-12-29 20:00:00+00:00                      222.5
2017-12-29 21:00:00+00:00                      224.0

[18048 rows x 5 columns]
INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_stockIndexBuzz']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3910, freq=None)
DEBUG:root:pre-runt:                            mkt3_stockIndexBuzz_S
id
1998-01-02 14:00:00+00:00                   19.0
1998-01-02 15:00:00+00:00                   30.0
1998-01-02 16:00:00+00:00                   31.0
1998-01-02 17:00:00+00:00                   48.0
1998-01-02 18:00:00+00:00                   48.0
...                                          ...
2018-01-08 17:00:00+00:00                 1548.0
2018-01-08 18:00:00+00:00                 1633.1
2018-01-08 19:00:00+00:00                 1899.6
2018-01-08 20:00:00+00:00                 2016.9
2018-01-08 21:00:00+00:00                 2157.1

[39844 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_stockIndexBuzz_S_open  \
id
2009-01-02 14:00:00+00:00                       716.1
2009-01-02 15:00:00+00:00                       714.6
2009-01-02 16:00:00+00:00                       755.0
2009-01-02 17:00:00+00:00                       809.5
2009-01-02 18:00:00+00:00                      1008.3
...                                               ...
2017-12-29 17:00:00+00:00                      1159.5
2017-12-29 18:00:00+00:00                      1198.0
2017-12-29 19:00:00+00:00                      1257.0
2017-12-29 20:00:00+00:00                      1472.0
2017-12-29 21:00:00+00:00                      1547.9

                           mkt3_stockIndexBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                       716.1
2009-01-02 15:00:00+00:00                       714.6
2009-01-02 16:00:00+00:00                       755.0
2009-01-02 17:00:00+00:00                       809.5
2009-01-02 18:00:00+00:00                      1008.3
...                                               ...
2017-12-29 17:00:00+00:00                      1159.5
2017-12-29 18:00:00+00:00                      1198.0
2017-12-29 19:00:00+00:00                      1257.0
2017-12-29 20:00:00+00:00                      1472.0
2017-12-29 21:00:00+00:00                      1547.9

                           mkt3_stockIndexBuzz_S_low  \
id
2009-01-02 14:00:00+00:00                      716.1
2009-01-02 15:00:00+00:00                      714.6
2009-01-02 16:00:00+00:00                      755.0
2009-01-02 17:00:00+00:00                      809.5
2009-01-02 18:00:00+00:00                     1008.3
...                                              ...
2017-12-29 17:00:00+00:00                     1159.5
2017-12-29 18:00:00+00:00                     1198.0
2017-12-29 19:00:00+00:00                     1257.0
2017-12-29 20:00:00+00:00                     1472.0
2017-12-29 21:00:00+00:00                     1547.9

                           mkt3_stockIndexBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                        716.1
2009-01-02 15:00:00+00:00                        714.6
2009-01-02 16:00:00+00:00                        755.0
2009-01-02 17:00:00+00:00                        809.5
2009-01-02 18:00:00+00:00                       1008.3
...                                                ...
2017-12-29 17:00:00+00:00                       1159.5
2017-12-29 18:00:00+00:00                       1198.0
2017-12-29 19:00:00+00:00                       1257.0
2017-12-29 20:00:00+00:00                       1472.0
2017-12-29 21:00:00+00:00                       1547.9

                           mkt3_stockIndexBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                           716.1
2009-01-02 15:00:00+00:00                           714.6
2009-01-02 16:00:00+00:00                           755.0
2009-01-02 17:00:00+00:00                           809.5
2009-01-02 18:00:00+00:00                          1008.3
...                                                   ...
2017-12-29 17:00:00+00:00                          1159.5
2017-12-29 18:00:00+00:00                          1198.0
2017-12-29 19:00:00+00:00                          1257.0
2017-12-29 20:00:00+00:00                          1472.0
2017-12-29 21:00:00+00:00                          1547.9

[18048 rows x 5 columns]

INFO:root:data: ['russell_2000', 'root', 'root_split_ohlca', 'join', 'vol']
DEBUG:root:rm_match: [['russell_2000', 'hrm', 'hrm', 'vol', 'vol']]
DEBUG:root:pre-runt:                            vol_open  vol_high  vol_low  vol_close  \
id
2006-05-05 13:00:00+00:00     17.25     17.26    16.77      16.98
2006-05-05 14:00:00+00:00     16.95     17.27    16.95      17.17
2006-05-05 15:00:00+00:00     17.13     17.22    16.91      17.01
2006-05-05 16:00:00+00:00     16.96     17.01    16.85      17.00
2006-05-05 17:00:00+00:00     17.01     17.04    16.72      16.75
...                             ...       ...      ...        ...
2018-01-08 17:00:00+00:00     13.93     14.08    13.81      13.95
2018-01-08 18:00:00+00:00     13.95     13.95    13.64      13.84
2018-01-08 19:00:00+00:00     13.85     13.88    13.71      13.71
2018-01-08 20:00:00+00:00     13.71     13.72    13.56      13.70
2018-01-08 21:00:00+00:00     13.69     13.81    13.41      13.75

                           vol_avgPrice
id
2006-05-05 13:00:00+00:00       16.9535
2006-05-05 14:00:00+00:00       17.1157
2006-05-05 15:00:00+00:00       17.0523
2006-05-05 16:00:00+00:00       16.9617
2006-05-05 17:00:00+00:00       16.8680
...                                 ...
2018-01-08 17:00:00+00:00       13.9930
2018-01-08 18:00:00+00:00       13.8560
2018-01-08 19:00:00+00:00       13.8129
2018-01-08 20:00:00+00:00       13.6590
2018-01-08 21:00:00+00:00       13.7493

[23455 rows x 5 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            vol_open  vol_high  vol_low  vol_close  \
id
2009-01-02 14:00:00+00:00     49.03     49.65    49.03      49.58
2009-01-02 15:00:00+00:00     49.60     49.68    48.61      48.64
2009-01-02 16:00:00+00:00     48.61     48.74    48.48      48.50
2009-01-02 17:00:00+00:00     48.51     48.51    48.09      48.21
2009-01-02 18:00:00+00:00     48.22     48.23    47.94      48.06
...                             ...       ...      ...        ...
2017-12-29 17:00:00+00:00     14.62     14.62    14.46      14.48
2017-12-29 18:00:00+00:00     14.48     14.54    14.43      14.52
2017-12-29 19:00:00+00:00     14.52     14.67    14.51      14.63
2017-12-29 20:00:00+00:00     14.63     14.84    14.43      14.76
2017-12-29 21:00:00+00:00     14.44     15.24    13.41      14.99

                           vol_avgPrice
id
2009-01-02 14:00:00+00:00       49.3125
2009-01-02 15:00:00+00:00       49.1088
2009-01-02 16:00:00+00:00       48.5795
2009-01-02 17:00:00+00:00       48.2753
2009-01-02 18:00:00+00:00       48.0537
...                                 ...
2017-12-29 17:00:00+00:00       14.5089
2017-12-29 18:00:00+00:00       14.4765
2017-12-29 19:00:00+00:00       14.5725
2017-12-29 20:00:00+00:00       14.6142
2017-12-29 21:00:00+00:00       14.9772

[18065 rows x 5 columns]
INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'pba']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'pba', 'pba']]
DEBUG:root:pre-runt:                            pba_open  pba_high  pba_low  pba_close  \
id
1996-01-02 14:00:00+00:00    615.93    615.93   613.17     613.95
1996-01-02 15:00:00+00:00    614.00    618.94   614.00     618.70
1996-01-02 16:00:00+00:00    618.70    618.71   617.19     617.39
1996-01-02 17:00:00+00:00    617.42    617.84   617.09     617.79
1996-01-02 18:00:00+00:00    617.77    618.66   617.75     618.34
...                             ...       ...      ...        ...
2018-01-08 17:00:00+00:00   2742.06   2744.20  2741.77    2744.06
2018-01-08 18:00:00+00:00   2744.06   2747.39  2744.06    2747.03
2018-01-08 19:00:00+00:00   2747.02   2747.92  2746.25    2747.62
2018-01-08 20:00:00+00:00   2747.64   2748.51  2745.34    2747.45
2018-01-08 21:00:00+00:00   2747.18   2747.71  2747.18    2747.71

                           pba_avgPrice
id
1996-01-02 14:00:00+00:00      614.0358
1996-01-02 15:00:00+00:00      617.5851
1996-01-02 16:00:00+00:00      617.7530
1996-01-02 17:00:00+00:00      617.4746
1996-01-02 18:00:00+00:00      618.2400
...                                 ...
2018-01-08 17:00:00+00:00     2743.2006
2018-01-08 18:00:00+00:00     2746.2798
2018-01-08 19:00:00+00:00     2747.1415
2018-01-08 20:00:00+00:00     2746.8776
2018-01-08 21:00:00+00:00     2747.6890

[43800 rows x 5 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            pba_open  pba_high  pba_low  pba_close  \
id
2009-01-02 14:00:00+00:00    902.99    906.60   899.35     901.37
2009-01-02 15:00:00+00:00    900.83    916.01   900.16     915.70
2009-01-02 16:00:00+00:00    915.81    919.07   914.00     916.89
2009-01-02 17:00:00+00:00    916.90    921.49   916.35     919.52
2009-01-02 18:00:00+00:00    919.61    925.73   919.59     924.10
...                             ...       ...      ...        ...
2017-12-29 17:00:00+00:00   2685.72   2686.33  2683.95    2684.34
2017-12-29 18:00:00+00:00   2684.32   2685.03  2681.37    2682.23
2017-12-29 19:00:00+00:00   2682.24   2683.39  2681.95    2683.16
2017-12-29 20:00:00+00:00   2683.15   2685.86  2674.36    2675.13
2017-12-29 21:00:00+00:00   2675.22   2675.92  2673.61    2673.61

                           pba_avgPrice
id
2009-01-02 14:00:00+00:00      903.8950
2009-01-02 15:00:00+00:00      908.2382
2009-01-02 16:00:00+00:00      916.5228
2009-01-02 17:00:00+00:00      918.7363
2009-01-02 18:00:00+00:00      922.8550
...                                 ...
2017-12-29 17:00:00+00:00     2685.3032
2017-12-29 18:00:00+00:00     2683.6790
2017-12-29 19:00:00+00:00     2682.7271
2017-12-29 20:00:00+00:00     2682.5202
2017-12-29 21:00:00+00:00     2673.8399

[18069 rows x 5 columns]
INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'trmi3_etf3_news_buzz']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3912, freq=None)
DEBUG:root:pre-runt:                              etf3_buzz_N
id
1998-01-02 14:00:00+00:00    3417.200000
1998-01-02 15:00:00+00:00    3417.200000
1998-01-02 16:00:00+00:00    3417.200000
1998-01-02 17:00:00+00:00    3417.200000
1998-01-02 18:00:00+00:00    5327.000000
...                                  ...
2018-01-08 17:00:00+00:00  103630.800004
2018-01-08 18:00:00+00:00  110546.300003
2018-01-08 19:00:00+00:00  113996.800003
2018-01-08 20:00:00+00:00  119799.300003
2018-01-08 21:00:00+00:00  127438.600003

[39888 rows x 1 columns]

DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            etf3_buzz_N_open  etf3_buzz_N_high  \
id
2009-01-02 14:00:00+00:00      36828.700000      36828.700000
2009-01-02 15:00:00+00:00      38001.300000      38001.300000
2009-01-02 16:00:00+00:00      40739.300000      40739.300000
2009-01-02 17:00:00+00:00      43636.000000      43636.000000
2009-01-02 18:00:00+00:00      48227.000000      48227.000000
...                                     ...               ...
2017-12-29 17:00:00+00:00     127034.600007     127034.600007
2017-12-29 18:00:00+00:00     129727.600007     129727.600007
2017-12-29 19:00:00+00:00     130995.800007     130995.800007
2017-12-29 20:00:00+00:00     131860.700006     131860.700006
2017-12-29 21:00:00+00:00     132611.400006     132611.400006

                           etf3_buzz_N_low  etf3_buzz_N_close  \
id
2009-01-02 14:00:00+00:00     36828.700000       36828.700000
2009-01-02 15:00:00+00:00     38001.300000       38001.300000
2009-01-02 16:00:00+00:00     40739.300000       40739.300000
2009-01-02 17:00:00+00:00     43636.000000       43636.000000
2009-01-02 18:00:00+00:00     48227.000000       48227.000000
...                                    ...                ...
2017-12-29 17:00:00+00:00    127034.600007      127034.600007
2017-12-29 18:00:00+00:00    129727.600007      129727.600007
2017-12-29 19:00:00+00:00    130995.800007      130995.800007
2017-12-29 20:00:00+00:00    131860.700006      131860.700006
2017-12-29 21:00:00+00:00    132611.400006      132611.400006

                           etf3_buzz_N_avgPrice
id
2009-01-02 14:00:00+00:00          36828.700000
2009-01-02 15:00:00+00:00          38001.300000
2009-01-02 16:00:00+00:00          40739.300000
2009-01-02 17:00:00+00:00          43636.000000
2009-01-02 18:00:00+00:00          48227.000000
...                                         ...
2017-12-29 17:00:00+00:00         127034.600007
2017-12-29 18:00:00+00:00         129727.600007
2017-12-29 19:00:00+00:00         130995.800007
2017-12-29 20:00:00+00:00         131860.700006
2017-12-29 21:00:00+00:00         132611.400006

[18069 rows x 5 columns]
INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'trmi3_etf3_social_buzz']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3912, freq=None)
DEBUG:root:pre-runt:                             etf3_buzz_S
id
1998-01-02 14:00:00+00:00   5720.900000
1998-01-02 15:00:00+00:00   5969.100000
1998-01-02 16:00:00+00:00   6159.000000
1998-01-02 17:00:00+00:00   6671.300000
1998-01-02 18:00:00+00:00   6935.900000
...                                 ...
2018-01-08 17:00:00+00:00  52264.300002
2018-01-08 18:00:00+00:00  57214.000002
2018-01-08 19:00:00+00:00  60100.900002
2018-01-08 20:00:00+00:00  64290.700003
2018-01-08 21:00:00+00:00  67694.400003

[39888 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            etf3_buzz_S_open  etf3_buzz_S_high  \
id
2009-01-02 14:00:00+00:00      37199.800000      37199.800000
2009-01-02 15:00:00+00:00      39536.800000      39536.800000
2009-01-02 16:00:00+00:00      42260.800000      42260.800000
2009-01-02 17:00:00+00:00      45277.200000      45277.200000
2009-01-02 18:00:00+00:00      49471.600000      49471.600000
...                                     ...               ...
2017-12-29 17:00:00+00:00      54102.600002      54102.600002
2017-12-29 18:00:00+00:00      55092.700002      55092.700002
2017-12-29 19:00:00+00:00      55721.200002      55721.200002
2017-12-29 20:00:00+00:00      55636.700002      55636.700002
2017-12-29 21:00:00+00:00      55973.000002      55973.000002

                           etf3_buzz_S_low  etf3_buzz_S_close  \
id
2009-01-02 14:00:00+00:00     37199.800000       37199.800000
2009-01-02 15:00:00+00:00     39536.800000       39536.800000
2009-01-02 16:00:00+00:00     42260.800000       42260.800000
2009-01-02 17:00:00+00:00     45277.200000       45277.200000
2009-01-02 18:00:00+00:00     49471.600000       49471.600000
...                                    ...                ...
2017-12-29 17:00:00+00:00     54102.600002       54102.600002
2017-12-29 18:00:00+00:00     55092.700002       55092.700002
2017-12-29 19:00:00+00:00     55721.200002       55721.200002
2017-12-29 20:00:00+00:00     55636.700002       55636.700002
2017-12-29 21:00:00+00:00     55973.000002       55973.000002

                           etf3_buzz_S_avgPrice
id
2009-01-02 14:00:00+00:00          37199.800000
2009-01-02 15:00:00+00:00          39536.800000
2009-01-02 16:00:00+00:00          42260.800000
2009-01-02 17:00:00+00:00          45277.200000
2009-01-02 18:00:00+00:00          49471.600000
...                                         ...
2017-12-29 17:00:00+00:00          54102.600002
2017-12-29 18:00:00+00:00          55092.700002
2017-12-29 19:00:00+00:00          55721.200002
2017-12-29 20:00:00+00:00          55636.700002
2017-12-29 21:00:00+00:00          55973.000002

[18069 rows x 5 columns]
INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_bondBuzz']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3912, freq=None)
DEBUG:root:pre-runt:                            mkt3_bondBuzz_N
id
1998-01-02 14:00:00+00:00             59.0
1998-01-02 15:00:00+00:00             59.0
1998-01-02 16:00:00+00:00             59.0
1998-01-02 17:00:00+00:00             59.0
1998-01-02 18:00:00+00:00            333.0
...                                    ...
2018-01-08 17:00:00+00:00           1470.2
2018-01-08 18:00:00+00:00           1672.6
2018-01-08 19:00:00+00:00           1925.6
2018-01-08 20:00:00+00:00           2036.6
2018-01-08 21:00:00+00:00           2294.0

[39888 rows x 1 columns]

DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_bondBuzz_N_open  mkt3_bondBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                1643.9                1643.9
2009-01-02 15:00:00+00:00                1915.3                1915.3
2009-01-02 16:00:00+00:00                2245.2                2245.2
2009-01-02 17:00:00+00:00                2481.6                2481.6
2009-01-02 18:00:00+00:00                2797.6                2797.6
...                                         ...                   ...
2017-12-29 17:00:00+00:00                2686.3                2686.3
2017-12-29 18:00:00+00:00                2569.8                2569.8
2017-12-29 19:00:00+00:00                2514.4                2514.4
2017-12-29 20:00:00+00:00                2473.8                2473.8
2017-12-29 21:00:00+00:00                2466.2                2466.2

                           mkt3_bondBuzz_N_low  mkt3_bondBuzz_N_close  \
id
2009-01-02 14:00:00+00:00               1643.9                 1643.9
2009-01-02 15:00:00+00:00               1915.3                 1915.3
2009-01-02 16:00:00+00:00               2245.2                 2245.2
2009-01-02 17:00:00+00:00               2481.6                 2481.6
2009-01-02 18:00:00+00:00               2797.6                 2797.6
...                                        ...                    ...
2017-12-29 17:00:00+00:00               2686.3                 2686.3
2017-12-29 18:00:00+00:00               2569.8                 2569.8
2017-12-29 19:00:00+00:00               2514.4                 2514.4
2017-12-29 20:00:00+00:00               2473.8                 2473.8
2017-12-29 21:00:00+00:00               2466.2                 2466.2

                           mkt3_bondBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                    1643.9
2009-01-02 15:00:00+00:00                    1915.3
2009-01-02 16:00:00+00:00                    2245.2
2009-01-02 17:00:00+00:00                    2481.6
2009-01-02 18:00:00+00:00                    2797.6
...                                             ...
2017-12-29 17:00:00+00:00                    2686.3
2017-12-29 18:00:00+00:00                    2569.8
2017-12-29 19:00:00+00:00                    2514.4
2017-12-29 20:00:00+00:00                    2473.8
2017-12-29 21:00:00+00:00                    2466.2

[18069 rows x 5 columns]
INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_ratesBuzz']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3912, freq=None)
DEBUG:root:pre-runt:                            mkt3_ratesBuzz_N
id
1998-01-02 14:00:00+00:00              12.5
1998-01-02 15:00:00+00:00              12.5
1998-01-02 16:00:00+00:00              12.5
1998-01-02 17:00:00+00:00              12.5
1998-01-02 18:00:00+00:00              42.5
...                                     ...
2018-01-08 17:00:00+00:00            1826.0
2018-01-08 18:00:00+00:00            2001.0
2018-01-08 19:00:00+00:00            2078.0
2018-01-08 20:00:00+00:00            2209.5
2018-01-08 21:00:00+00:00            2433.5

[39888 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_ratesBuzz_N_open  mkt3_ratesBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                  753.5                  753.5
2009-01-02 15:00:00+00:00                  836.5                  836.5
2009-01-02 16:00:00+00:00                  865.5                  865.5
2009-01-02 17:00:00+00:00                  958.5                  958.5
2009-01-02 18:00:00+00:00                 1130.0                 1130.0
...                                          ...                    ...
2017-12-29 17:00:00+00:00                  927.0                  927.0
2017-12-29 18:00:00+00:00                  951.0                  951.0
2017-12-29 19:00:00+00:00                  943.0                  943.0
2017-12-29 20:00:00+00:00                  947.0                  947.0
2017-12-29 21:00:00+00:00                  946.5                  946.5

                           mkt3_ratesBuzz_N_low  mkt3_ratesBuzz_N_close  \
id
2009-01-02 14:00:00+00:00                 753.5                   753.5
2009-01-02 15:00:00+00:00                 836.5                   836.5
2009-01-02 16:00:00+00:00                 865.5                   865.5
2009-01-02 17:00:00+00:00                 958.5                   958.5
2009-01-02 18:00:00+00:00                1130.0                  1130.0
...                                         ...                     ...
2017-12-29 17:00:00+00:00                 927.0                   927.0
2017-12-29 18:00:00+00:00                 951.0                   951.0
2017-12-29 19:00:00+00:00                 943.0                   943.0
2017-12-29 20:00:00+00:00                 947.0                   947.0
2017-12-29 21:00:00+00:00                 946.5                   946.5

                           mkt3_ratesBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                      753.5
2009-01-02 15:00:00+00:00                      836.5
2009-01-02 16:00:00+00:00                      865.5
2009-01-02 17:00:00+00:00                      958.5
2009-01-02 18:00:00+00:00                     1130.0
...                                              ...
2017-12-29 17:00:00+00:00                      927.0
2017-12-29 18:00:00+00:00                      951.0
2017-12-29 19:00:00+00:00                      943.0
2017-12-29 20:00:00+00:00                      947.0
2017-12-29 21:00:00+00:00                      946.5

[18069 rows x 5 columns]
INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_news_stockIndexBuzz']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3912, freq=None)

DEBUG:root:pre-runt:                            mkt3_stockIndexBuzz_N
id
1998-01-02 14:00:00+00:00              62.000000
1998-01-02 15:00:00+00:00              62.000000
1998-01-02 16:00:00+00:00              62.000000
1998-01-02 17:00:00+00:00              62.000000
1998-01-02 18:00:00+00:00             398.500000
...                                          ...
2018-01-08 17:00:00+00:00            7813.999999
2018-01-08 18:00:00+00:00            8511.199999
2018-01-08 19:00:00+00:00            9083.199999
2018-01-08 20:00:00+00:00            9465.199999
2018-01-08 21:00:00+00:00            9830.300000

[39888 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_stockIndexBuzz_N_open  \
id
2009-01-02 14:00:00+00:00                 2868.400000
2009-01-02 15:00:00+00:00                 3409.700000
2009-01-02 16:00:00+00:00                 3661.700000
2009-01-02 17:00:00+00:00                 4255.100000
2009-01-02 18:00:00+00:00                 5062.000000
...                                               ...
2017-12-29 17:00:00+00:00                 9071.500001
2017-12-29 18:00:00+00:00                 9153.200001
2017-12-29 19:00:00+00:00                 9144.000001
2017-12-29 20:00:00+00:00                 8812.000001
2017-12-29 21:00:00+00:00                 8793.500001

                           mkt3_stockIndexBuzz_N_high  \
id
2009-01-02 14:00:00+00:00                 2868.400000
2009-01-02 15:00:00+00:00                 3409.700000
2009-01-02 16:00:00+00:00                 3661.700000
2009-01-02 17:00:00+00:00                 4255.100000
2009-01-02 18:00:00+00:00                 5062.000000
...                                               ...
2017-12-29 17:00:00+00:00                 9071.500001
2017-12-29 18:00:00+00:00                 9153.200001
2017-12-29 19:00:00+00:00                 9144.000001
2017-12-29 20:00:00+00:00                 8812.000001
2017-12-29 21:00:00+00:00                 8793.500001

                           mkt3_stockIndexBuzz_N_low  \
id
2009-01-02 14:00:00+00:00                2868.400000
2009-01-02 15:00:00+00:00                3409.700000
2009-01-02 16:00:00+00:00                3661.700000
2009-01-02 17:00:00+00:00                4255.100000
2009-01-02 18:00:00+00:00                5062.000000
...                                              ...
2017-12-29 17:00:00+00:00                9071.500001
2017-12-29 18:00:00+00:00                9153.200001
2017-12-29 19:00:00+00:00                9144.000001
2017-12-29 20:00:00+00:00                8812.000001
2017-12-29 21:00:00+00:00                8793.500001

                           mkt3_stockIndexBuzz_N_close  \
id
2009-01-02 14:00:00+00:00                  2868.400000
2009-01-02 15:00:00+00:00                  3409.700000
2009-01-02 16:00:00+00:00                  3661.700000
2009-01-02 17:00:00+00:00                  4255.100000
2009-01-02 18:00:00+00:00                  5062.000000
...                                                ...
2017-12-29 17:00:00+00:00                  9071.500001
2017-12-29 18:00:00+00:00                  9153.200001
2017-12-29 19:00:00+00:00                  9144.000001
2017-12-29 20:00:00+00:00                  8812.000001
2017-12-29 21:00:00+00:00                  8793.500001

                           mkt3_stockIndexBuzz_N_avgPrice
id
2009-01-02 14:00:00+00:00                     2868.400000
2009-01-02 15:00:00+00:00                     3409.700000
2009-01-02 16:00:00+00:00                     3661.700000
2009-01-02 17:00:00+00:00                     4255.100000
2009-01-02 18:00:00+00:00                     5062.000000
...                                                   ...
2017-12-29 17:00:00+00:00                     9071.500001
2017-12-29 18:00:00+00:00                     9153.200001
2017-12-29 19:00:00+00:00                     9144.000001
2017-12-29 20:00:00+00:00                     8812.000001
2017-12-29 21:00:00+00:00                     8793.500001

[18069 rows x 5 columns]
INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_bondBuzz']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3912, freq=None)
DEBUG:root:pre-runt:                            mkt3_bondBuzz_S
id
1998-01-02 14:00:00+00:00              0.0
1998-01-02 15:00:00+00:00              0.0
1998-01-02 16:00:00+00:00              7.0
1998-01-02 17:00:00+00:00              7.0
1998-01-02 18:00:00+00:00              7.0
...                                    ...
2018-01-08 17:00:00+00:00            310.5
2018-01-08 18:00:00+00:00            370.5
2018-01-08 19:00:00+00:00            412.0
2018-01-08 20:00:00+00:00            534.0
2018-01-08 21:00:00+00:00            545.5

[39888 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_bondBuzz_S_open  mkt3_bondBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                 300.2                 300.2
2009-01-02 15:00:00+00:00                 299.2                 299.2
2009-01-02 16:00:00+00:00                 291.2                 291.2
2009-01-02 17:00:00+00:00                 288.2                 288.2
2009-01-02 18:00:00+00:00                 314.7                 314.7
...                                         ...                   ...
2017-12-29 17:00:00+00:00                 508.0                 508.0
2017-12-29 18:00:00+00:00                 492.5                 492.5
2017-12-29 19:00:00+00:00                 453.5                 453.5
2017-12-29 20:00:00+00:00                 402.0                 402.0
2017-12-29 21:00:00+00:00                 376.5                 376.5

                           mkt3_bondBuzz_S_low  mkt3_bondBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                300.2                  300.2
2009-01-02 15:00:00+00:00                299.2                  299.2
2009-01-02 16:00:00+00:00                291.2                  291.2
2009-01-02 17:00:00+00:00                288.2                  288.2
2009-01-02 18:00:00+00:00                314.7                  314.7
...                                        ...                    ...
2017-12-29 17:00:00+00:00                508.0                  508.0
2017-12-29 18:00:00+00:00                492.5                  492.5
2017-12-29 19:00:00+00:00                453.5                  453.5
2017-12-29 20:00:00+00:00                402.0                  402.0
2017-12-29 21:00:00+00:00                376.5                  376.5

                           mkt3_bondBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                     300.2
2009-01-02 15:00:00+00:00                     299.2
2009-01-02 16:00:00+00:00                     291.2
2009-01-02 17:00:00+00:00                     288.2
2009-01-02 18:00:00+00:00                     314.7
...                                             ...
2017-12-29 17:00:00+00:00                     508.0
2017-12-29 18:00:00+00:00                     492.5
2017-12-29 19:00:00+00:00                     453.5
2017-12-29 20:00:00+00:00                     402.0
2017-12-29 21:00:00+00:00                     376.5

[18069 rows x 5 columns]

INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_ratesBuzz']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3912, freq=None)
DEBUG:root:pre-runt:                            mkt3_ratesBuzz_S
id
1998-01-02 14:00:00+00:00               4.0
1998-01-02 15:00:00+00:00               4.0
1998-01-02 16:00:00+00:00               4.0
1998-01-02 17:00:00+00:00               4.0
1998-01-02 18:00:00+00:00               1.0
...                                     ...
2018-01-08 17:00:00+00:00             233.0
2018-01-08 18:00:00+00:00             254.5
2018-01-08 19:00:00+00:00             294.5
2018-01-08 20:00:00+00:00             311.0
2018-01-08 21:00:00+00:00             338.5

[39888 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_ratesBuzz_S_open  mkt3_ratesBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                  225.5                  225.5
2009-01-02 15:00:00+00:00                  225.5                  225.5
2009-01-02 16:00:00+00:00                  219.5                  219.5
2009-01-02 17:00:00+00:00                  233.5                  233.5
2009-01-02 18:00:00+00:00                  221.5                  221.5
...                                          ...                    ...
2017-12-29 17:00:00+00:00                  247.5                  247.5
2017-12-29 18:00:00+00:00                  244.5                  244.5
2017-12-29 19:00:00+00:00                  242.5                  242.5
2017-12-29 20:00:00+00:00                  222.5                  222.5
2017-12-29 21:00:00+00:00                  224.0                  224.0

                           mkt3_ratesBuzz_S_low  mkt3_ratesBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                 225.5                   225.5
2009-01-02 15:00:00+00:00                 225.5                   225.5
2009-01-02 16:00:00+00:00                 219.5                   219.5
2009-01-02 17:00:00+00:00                 233.5                   233.5
2009-01-02 18:00:00+00:00                 221.5                   221.5
...                                         ...                     ...
2017-12-29 17:00:00+00:00                 247.5                   247.5
2017-12-29 18:00:00+00:00                 244.5                   244.5
2017-12-29 19:00:00+00:00                 242.5                   242.5
2017-12-29 20:00:00+00:00                 222.5                   222.5
2017-12-29 21:00:00+00:00                 224.0                   224.0

                           mkt3_ratesBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                      225.5
2009-01-02 15:00:00+00:00                      225.5
2009-01-02 16:00:00+00:00                      219.5
2009-01-02 17:00:00+00:00                      233.5
2009-01-02 18:00:00+00:00                      221.5
...                                              ...
2017-12-29 17:00:00+00:00                      247.5
2017-12-29 18:00:00+00:00                      244.5
2017-12-29 19:00:00+00:00                      242.5
2017-12-29 20:00:00+00:00                      222.5
2017-12-29 21:00:00+00:00                      224.0

[18069 rows x 5 columns]
INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'trmi3_mkt3_social_stockIndexBuzz']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'trmi3', 'trmi3']]
DEBUG:root:rm_df.index - data_df.index: DatetimeIndex(['1996-01-02 14:00:00+00:00', '1996-01-02 15:00:00+00:00',
               '1996-01-02 16:00:00+00:00', '1996-01-02 17:00:00+00:00',
               '1996-01-02 18:00:00+00:00', '1996-01-02 19:00:00+00:00',
               '1996-01-02 20:00:00+00:00', '1996-01-02 21:00:00+00:00',
               '1996-01-03 14:00:00+00:00', '1996-01-03 15:00:00+00:00',
               ...
               '1997-12-30 20:00:00+00:00', '1997-12-30 21:00:00+00:00',
               '1997-12-31 14:00:00+00:00', '1997-12-31 15:00:00+00:00',
               '1997-12-31 16:00:00+00:00', '1997-12-31 17:00:00+00:00',
               '1997-12-31 18:00:00+00:00', '1997-12-31 19:00:00+00:00',
               '1997-12-31 20:00:00+00:00', '1997-12-31 21:00:00+00:00'],
              dtype='datetime64[ns, UTC]', name='id', length=3912, freq=None)
DEBUG:root:pre-runt:                            mkt3_stockIndexBuzz_S
id
1998-01-02 14:00:00+00:00                   19.0
1998-01-02 15:00:00+00:00                   30.0
1998-01-02 16:00:00+00:00                   31.0
1998-01-02 17:00:00+00:00                   48.0
1998-01-02 18:00:00+00:00                   48.0
...                                          ...
2018-01-08 17:00:00+00:00                 1548.0
2018-01-08 18:00:00+00:00                 1633.1
2018-01-08 19:00:00+00:00                 1899.6
2018-01-08 20:00:00+00:00                 2016.9
2018-01-08 21:00:00+00:00                 2157.1

[39888 rows x 1 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            mkt3_stockIndexBuzz_S_open  \
id
2009-01-02 14:00:00+00:00                       716.1
2009-01-02 15:00:00+00:00                       714.6
2009-01-02 16:00:00+00:00                       755.0
2009-01-02 17:00:00+00:00                       809.5
2009-01-02 18:00:00+00:00                      1008.3
...                                               ...
2017-12-29 17:00:00+00:00                      1159.5
2017-12-29 18:00:00+00:00                      1198.0
2017-12-29 19:00:00+00:00                      1257.0
2017-12-29 20:00:00+00:00                      1472.0
2017-12-29 21:00:00+00:00                      1547.9

                           mkt3_stockIndexBuzz_S_high  \
id
2009-01-02 14:00:00+00:00                       716.1
2009-01-02 15:00:00+00:00                       714.6
2009-01-02 16:00:00+00:00                       755.0
2009-01-02 17:00:00+00:00                       809.5
2009-01-02 18:00:00+00:00                      1008.3
...                                               ...
2017-12-29 17:00:00+00:00                      1159.5
2017-12-29 18:00:00+00:00                      1198.0
2017-12-29 19:00:00+00:00                      1257.0
2017-12-29 20:00:00+00:00                      1472.0
2017-12-29 21:00:00+00:00                      1547.9

                           mkt3_stockIndexBuzz_S_low  \
id
2009-01-02 14:00:00+00:00                      716.1
2009-01-02 15:00:00+00:00                      714.6
2009-01-02 16:00:00+00:00                      755.0
2009-01-02 17:00:00+00:00                      809.5
2009-01-02 18:00:00+00:00                     1008.3
...                                              ...
2017-12-29 17:00:00+00:00                     1159.5
2017-12-29 18:00:00+00:00                     1198.0
2017-12-29 19:00:00+00:00                     1257.0
2017-12-29 20:00:00+00:00                     1472.0
2017-12-29 21:00:00+00:00                     1547.9

                           mkt3_stockIndexBuzz_S_close  \
id
2009-01-02 14:00:00+00:00                        716.1
2009-01-02 15:00:00+00:00                        714.6
2009-01-02 16:00:00+00:00                        755.0
2009-01-02 17:00:00+00:00                        809.5
2009-01-02 18:00:00+00:00                       1008.3
...                                                ...
2017-12-29 17:00:00+00:00                       1159.5
2017-12-29 18:00:00+00:00                       1198.0
2017-12-29 19:00:00+00:00                       1257.0
2017-12-29 20:00:00+00:00                       1472.0
2017-12-29 21:00:00+00:00                       1547.9

                           mkt3_stockIndexBuzz_S_avgPrice
id
2009-01-02 14:00:00+00:00                           716.1
2009-01-02 15:00:00+00:00                           714.6
2009-01-02 16:00:00+00:00                           755.0
2009-01-02 17:00:00+00:00                           809.5
2009-01-02 18:00:00+00:00                          1008.3
...                                                   ...
2017-12-29 17:00:00+00:00                          1159.5
2017-12-29 18:00:00+00:00                          1198.0
2017-12-29 19:00:00+00:00                          1257.0
2017-12-29 20:00:00+00:00                          1472.0
2017-12-29 21:00:00+00:00                          1547.9

[18069 rows x 5 columns]

INFO:root:data: ['sp_500', 'root', 'root_split_ohlca', 'join', 'vol']
DEBUG:root:rm_match: [['sp_500', 'hrm', 'hrm', 'vol', 'vol']]
DEBUG:root:pre-runt:                            vol_open  vol_high  vol_low  vol_close  \
id
1996-01-02 15:00:00+00:00     14.46     14.46    13.30      13.32
1996-01-02 16:00:00+00:00     13.49     13.61    13.34      13.50
1996-01-02 17:00:00+00:00     13.47     13.49    13.20      13.31
1996-01-02 18:00:00+00:00     13.29     13.56    13.29      13.36
1996-01-02 19:00:00+00:00     13.47     13.52    13.18      13.35
...                             ...       ...      ...        ...
2018-01-08 17:00:00+00:00      9.59      9.60     9.52       9.54
2018-01-08 18:00:00+00:00      9.53      9.59     9.46       9.47
2018-01-08 19:00:00+00:00      9.48      9.48     9.34       9.34
2018-01-08 20:00:00+00:00      9.34      9.41     9.32       9.41
2018-01-08 21:00:00+00:00      9.41      9.53     9.41       9.52

                           vol_avgPrice
id
1996-01-02 15:00:00+00:00       13.5788
1996-01-02 16:00:00+00:00       13.4534
1996-01-02 17:00:00+00:00       13.3746
1996-01-02 18:00:00+00:00       13.4305
1996-01-02 19:00:00+00:00       13.3523
...                                 ...
2018-01-08 17:00:00+00:00        9.5501
2018-01-08 18:00:00+00:00        9.5235
2018-01-08 19:00:00+00:00        9.4251
2018-01-08 20:00:00+00:00        9.3672
2018-01-08 21:00:00+00:00        9.4993

[41824 rows x 5 columns]
DEBUG:root:variant: ({'val': True, 'flt': 0}, {'val': True, 'flt': 'h'}, {'val': True, 'flt': 'l'}, {'val': True, 'flt': -1}, {'stat_type': 'avg'})
DEBUG:root:subvar: {'val': True, 'flt': 0}
DEBUG:root:subvar: {'val': True, 'flt': 'h'}
DEBUG:root:subvar: {'val': True, 'flt': 'l'}
DEBUG:root:subvar: {'val': True, 'flt': -1}
DEBUG:root:subvar: {'stat_type': 'avg'}
DEBUG:root:mutate_type: hohlca
DEBUG:root:post-runt:                            vol_open  vol_high  vol_low  vol_close  \
id
2009-01-02 14:00:00+00:00     39.58     39.82    39.33      39.42
2009-01-02 15:00:00+00:00     39.43     39.47    37.93      37.93
2009-01-02 16:00:00+00:00     37.92     38.06    37.57      37.77
2009-01-02 17:00:00+00:00     37.77     37.81    37.24      37.74
2009-01-02 18:00:00+00:00     37.76     37.79    37.33      37.51
...                             ...       ...      ...        ...
2017-12-29 17:00:00+00:00     10.24     10.24    10.13      10.22
2017-12-29 18:00:00+00:00     10.22     10.45    10.12      10.40
2017-12-29 19:00:00+00:00     10.39     10.39    10.15      10.19
2017-12-29 20:00:00+00:00     10.20     10.52    10.02      10.52
2017-12-29 21:00:00+00:00     10.61     11.06    10.37      11.04

                           vol_avgPrice
id
2009-01-02 14:00:00+00:00       39.4860
2009-01-02 15:00:00+00:00       38.6222
2009-01-02 16:00:00+00:00       37.8200
2009-01-02 17:00:00+00:00       37.6296
2009-01-02 18:00:00+00:00       37.5767
...                                 ...
2017-12-29 17:00:00+00:00       10.1870
2017-12-29 18:00:00+00:00       10.2405
2017-12-29 19:00:00+00:00       10.2351
2017-12-29 20:00:00+00:00       10.2251
2017-12-29 21:00:00+00:00       10.8475

[18069 rows x 5 columns]

In [119]:
asset_name = 'nasdaq_100'
days = ['2009-06-01', '2010-04-24', '2011-01-28', '2011-11-08', '2012-10-09', '2012-11-01', '2014-07-03', '2015-09-02', '2016-03-28', '2017-04-21']

In [120]:
asset_keys = [key for key in runt_dfs.keys() if key[0]==asset_name]

In [121]:
for day in days:
    dayl = ('{} 00:00'.format(day), '{} 23:00'.format(day))
    display(dayl)
    display(runt_dfs[asset_keys[0]].loc[dayl[0]:dayl[1]])
    #display(runt_dfs[asset_keys[-1]].loc[dayl[0]:dayl[1]])

('2009-06-01 00:00', '2009-06-01 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2009-06-01 16:00:00+00:00,1475.05,1480.05,1473.70,1475.48,1476.6256
2009-06-01 17:00:00+00:00,1475.23,1481.19,1472.53,1480.79,1475.3252
2009-06-01 18:00:00+00:00,1480.90,1482.18,1474.94,1478.30,1478.5643
2009-06-01 19:00:00+00:00,1478.29,1479.62,1470.34,1477.54,1475.8310

('2010-04-24 00:00', '2010-04-24 23:00')

Empty DataFrame
Columns: [pba_open, pba_high, pba_low, pba_close, pba_avgPrice]
Index: []

('2011-01-28 00:00', '2011-01-28 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2011-01-28 15:00:00+00:00,2314.21,2314.35,2297.30,2299.45,2301.5219
2011-01-28 16:00:00+00:00,2299.45,2299.92,2269.66,2271.64,2288.9754
2011-01-28 17:00:00+00:00,2271.65,2277.94,2260.60,2276.85,2271.9478
2011-01-28 18:00:00+00:00,2276.85,2277.12,2265.68,2275.19,2270.6349
2011-01-28 19:00:00+00:00,2275.19,2277.79,2271.03,2274.03,2274.1484
2011-01-28 20:00:00+00:00,2274.07,2274.80,2265.95,2270.83,2270.3623
2011-01-28 21:00:00+00:00,2270.89,2270.89,2270.51,2270.51,2270.5337

('2011-11-08 00:00', '2011-11-08 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2011-11-08 14:00:00+00:00,2386.19,2396.75,2384.41,2396.75,2389.7899
2011-11-08 15:00:00+00:00,2396.76,2397.55,2374.46,2377.28,2383.8963
2011-11-08 16:00:00+00:00,2377.29,2379.84,2362.23,2372.25,2370.1833
2011-11-08 17:00:00+00:00,2372.25,2378.08,2369.40,2373.56,2375.0946
2011-11-08 18:00:00+00:00,2373.55,2392.98,2370.16,2391.44,2379.3049
2011-11-08 19:00:00+00:00,2391.40,2396.70,2385.63,2395.24,2391.8741
2011-11-08 20:00:00+00:00,2395.22,2402.51,2390.72,2399.18,2397.9699
2011-11-08 21:00:00+00:00,2399.18,2400.18,2399.18,2400.01,2400.0099

('2012-10-09 00:00', '2012-10-09 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2012-10-09 13:00:00+00:00,2781.81,2781.81,2761.41,2762.49,2770.3922
2012-10-09 14:00:00+00:00,2762.49,2768.48,2739.77,2743.78,2757.8775
2012-10-09 15:00:00+00:00,2743.78,2745.13,2736.98,2742.47,2742.3941
2012-10-09 16:00:00+00:00,2742.47,2750.29,2740.68,2743.19,2744.8516
2012-10-09 17:00:00+00:00,2743.29,2752.84,2743.13,2748.77,2748.6412
2012-10-09 18:00:00+00:00,2748.76,2753.60,2746.27,2751.72,2749.9792
2012-10-09 19:00:00+00:00,2751.71,2752.85,2739.69,2742.33,2744.3961
2012-10-09 20:00:00+00:00,2742.24,2742.24,2741.92,2741.92,2741.9201

('2012-11-01 00:00', '2012-11-01 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2012-11-01 16:00:00+00:00,2688.10,2688.10,2683.43,2683.91,2684.6084
2012-11-01 17:00:00+00:00,2683.92,2685.54,2680.23,2683.56,2682.6836
2012-11-01 18:00:00+00:00,2683.56,2689.39,2681.50,2687.77,2685.4071
2012-11-01 19:00:00+00:00,2687.77,2689.39,2682.69,2687.33,2686.8705
2012-11-01 20:00:00+00:00,2687.12,2687.52,2687.12,2687.52,2687.5199

('2014-07-03 00:00', '2014-07-03 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2014-07-03 13:00:00+00:00,3911.111,3911.832,3901.325,3906.113,3906.5656
2014-07-03 14:00:00+00:00,3906.113,3912.113,3904.512,3911.583,3909.5694
2014-07-03 15:00:00+00:00,3911.571,3917.780,3910.082,3917.780,3913.9354
2014-07-03 16:00:00+00:00,3917.788,3922.286,3916.721,3921.884,3920.1390
2014-07-03 17:00:00+00:00,3923.148,3923.148,3923.010,3923.010,3923.0100

('2015-09-02 00:00', '2015-09-02 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2015-09-02 13:00:00+00:00,4207.682,4209.073,4184.064,4190.781,4195.7504
2015-09-02 14:00:00+00:00,4190.762,4207.500,4166.080,4183.870,4184.8931
2015-09-02 15:00:00+00:00,4183.860,4200.773,4177.646,4184.489,4188.4469
2015-09-02 16:00:00+00:00,4184.489,4210.343,4173.437,4209.078,4187.0637
2015-09-02 17:00:00+00:00,4209.078,4220.099,4202.030,4209.339,4212.0655
2015-09-02 18:00:00+00:00,4209.339,4227.984,4196.486,4214.457,4213.9425
2015-09-02 19:00:00+00:00,4214.457,4255.103,4200.270,4255.103,4221.2942
2015-09-02 20:00:00+00:00,4256.176,4256.230,4256.176,4256.230,4256.2300

('2016-03-28 00:00', '2016-03-28 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2016-03-28 13:00:00+00:00,4415.044,4417.570,4393.077,4399.030,4400.8347
2016-03-28 14:00:00+00:00,4399.069,4413.255,4396.430,4402.058,4404.4811
2016-03-28 15:00:00+00:00,4402.042,4409.433,4397.748,4408.508,4404.1108
2016-03-28 16:00:00+00:00,4408.443,4412.063,4401.787,4410.123,4406.9870
2016-03-28 17:00:00+00:00,4410.109,4410.141,4401.277,4406.722,4404.7084
2016-03-28 18:00:00+00:00,4406.729,4413.675,4394.217,4396.848,4405.1043
2016-03-28 19:00:00+00:00,4396.952,4406.860,4394.728,4398.348,4401.8767
2016-03-28 20:00:00+00:00,4398.348,4398.348,4398.066,4398.066,4398.0660

('2017-04-21 00:00', '2017-04-21 23:00')

,pba_open,pba_high,pba_low,pba_close,pba_avgPrice
id,,,,,
2017-04-21 13:00:00+00:00,5447.275,5447.488,5435.238,5439.440,5441.1371
2017-04-21 14:00:00+00:00,5439.440,5445.856,5437.497,5439.856,5442.1327
2017-04-21 15:00:00+00:00,5439.903,5450.812,5436.617,5449.199,5444.6348
2017-04-21 16:00:00+00:00,5449.190,5449.521,5441.032,5441.914,5444.7938
2017-04-21 17:00:00+00:00,5441.907,5442.971,5430.224,5441.461,5435.6335
2017-04-21 18:00:00+00:00,5441.395,5441.887,5436.534,5439.713,5439.8235
2017-04-21 19:00:00+00:00,5439.723,5444.754,5433.644,5442.403,5438.9384
2017-04-21 20:00:00+00:00,5442.096,5442.096,5442.049,5442.049,5442.0490

In [108]:
runt_dfs[asset_keys[0]].groupby(pd.Grouper(freq='D')).size().value_counts()

8    2245
0    1019
5      17
9       2
6       1
dtype: int64